.btn {
  border: none;
  font-weight: 400;
  cursor: pointer;
  display: inline-block;
  color: #fff;
  padding: 10px 12px;
  text-transform: uppercase;
  letter-spacing: 1px;
  outline: none;
  position: relative;

  &:hover {
    color: $white;
  }

  &:focus, &:active {
    color: $white;
    outline: none;
  }

  &.btn-large {
    color: $white;
    padding: 18px 22px;
    margin: 15px 0px;
    border: 1px solid transparent;
  }

  &.btn-effect {
    background-color: $red;
    overflow: hidden;

    &:before {
      left: auto;
      right: 10px;
      z-index: 2;
    }

    &:before {
      position: absolute;
      height: 100%;
      left: 0px;
      top: 0px;
      line-height: 3;
      font-size: 140%;
      width: 60px;
    }

    &:after {
      content: '';
      position: absolute;
      width: 30%;
      height: 230%;
      z-index: 1;
      left: 0;
      top: 0;
      margin: -2px 0px 0px -22px;
      -webkit-transform-origin: 0 0;
      -webkit-transform: rotate(-20deg);
      -moz-transform-origin: 0 0;
      -moz-transform: rotate(-20deg);
      -ms-transform-origin: 0 0;
      -ms-transform: rotate(-20deg);
      transform-origin: 0 0;
      transform: rotate(-20deg);
      -webkit-transition: all 0.3s ease;
      -moz-transition: all 0.3s ease;
      transition: all 0.3s ease;
      background: rgba(0, 0, 0, 0.1);
    }

    &:hover:after {
      width: 60%;
    }
  }

  &.btn-small {
    padding: 10px 12px;
  }

  &.btn-wite {
    border: 1px solid $white;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    transition: all 0.3s ease;

    &:hover {
      background: rgba(255, 239, 250, 0.4);
      border-color: rgba(255, 239, 250, 0.4);
    }
  }
}
