$black-top: #101215;
$black-light: #444444;
$gray-dark: #999999;
$gray: #666666;
$gray-light: #808c8c;
$white: #ffffff;
$white-dark: #eeeeee;
$red: #ee3733;
$red-light: #f16261;
$blue-dark: #507cbe;
$blue: #63cdf1;
$blue-light: #90cadd;
$pink: #e46387;
$color-border-form-control: #dddddd;
$color-form-control: #324545;
$bg-footer: #2d3e50;
$color-footer: #cccccc;
$bg-footer-bottom: #172029;
$color-menu-footer: #6d7780;
$portfolio-item-content: #fafafa;
$portfolio-item-content-header: #3a3a3a;
$facebook-hover: #507cbe;
$twitter-hover: #63cdf1;
$google-hover: #f16261;
$linkedin-hover: #90cadd;
$bg-client: #f1f1f1;

