body {
	font-family: 'Raleway', sans-serif;
    font-size: 13px;
    line-height: 21px;
    font-weight: 400;
    color: $gray;
}

ul, ol {
	list-style: none;
	padding: 0;
	margin: 0;
}

a, a:hover, a:focus{
	text-decoration: none;
	outline: none;
}

i {
	font-size: 1.1em;
}
h1, h2, h3, h4, h5, h6 {
	font-family: 'Raleway', sans-serif;
	font-weight: 700;
	margin: 0;
}
h1 {
	font-size: 24px;
	line-height: 30px;
}
h2 {
	font-size: 22px;
	line-height: 28px;
}
h3 {
	font-size: 18px;
	line-height: 24px;
}
h4 {
	font-size: 16px;
	line-height: 22px;
}
h5 {
	font-size: 14px;
	line-height: 20px;
}
h6 {
	font-size: 12px;
	line-height: 18px;
}
p {
	color: #666;
	font-size: 13px;
	font-family: 'Raleway', sans-serif;
	line-height: 22px;
	margin: 0;
}
p strong {
	font-weight: 600;
}

.form-control {
	background: $white;
	border: 1px solid $color-border-form-control;
	font-size: 13px;
	outline: medium none;
	color: $color-form-control;
	margin: 15px 0;
	padding: 10px 12px;
	box-shadow: none;
	height: 40px;
	&:focus {
		outline: none;
	}
}

.nivo-lightbox-wrap {
	text-align: center;
	.nivo-lightbox-content iframe {
		display: inline-block;
		width: 650px!important;
	}
}
