@import url(http://fonts.googleapis.com/css?family=Raleway:400,600,700);

/*You can add your won color also */

body {
  font-family: 'Raleway', sans-serif;
  font-size: 13px;
  line-height: 21px;
  font-weight: 400;
  color: #666;
  background: url(../img/patterns/1.png) fixed repeat;
}

strong, b {
  font-weight: 600;
}

img {
  max-width: 100%;
  height: auto;
}

ul, ol {
  list-style: none;
}

ul {
  padding: 0;
  margin: 0;
}

a {
  transition: color 0.2s ease-in-out;
  -moz-transition: color 0.2s ease-in-out;
  -webkit-transition: color 0.2s ease-in-out;
  &:hover {
    color: #444;
    text-decoration: none;
    outline: none;
  }
  text-decoration: none;
  outline: none;
  &:focus {
    text-decoration: none;
    outline: none;
  }
}

i {
  font-size: 1.1em;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  margin: 0;
}

h1 {
  font-size: 24px;
  line-height: 30px;
}

h2 {
  font-size: 22px;
  line-height: 28px;
}

h3 {
  font-size: 18px;
  line-height: 24px;
}

h4 {
  font-size: 16px;
  line-height: 22px;
}

h5 {
  font-size: 14px;
  line-height: 20px;
}

h6 {
  font-size: 12px;
  line-height: 18px;
}

p {
  color: #666;
  font-size: 13px;
  font-family: 'Raleway', sans-serif;
  line-height: 22px;
  margin: 0;
  strong {
    font-weight: 600;
  }
}

.accent-color-bg {
  color: #fff;
}

.fittext {
  font-size: 38px;
  font-weight: 400;
  line-height: 1.6em;
  margin-bottom: 35px;
  color: rgba(0, 0, 0, 0.8);
  strong {
    font-weight: 700;
  }
}

.page-content p {
  margin-bottom: 15px;
}

.wite-text {
  color: #fff;
}

.uppercase {
  text-transform: uppercase;
}

.image-text {
  margin-right: 10px;
}

input[type="submit"] {
  display: inline-block;
  text-decoration: none;
  color: #fff;
  font-size: 12px;
  font-weight: 400;
  text-transform: uppercase;
  padding: 6px 16px;
  border-radius: 3px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -o-border-radius: 3px;
  transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -webkit-transition: all 0.2s ease-in-out;
  &:hover {
    background: #444;
    color: #fff;
  }
  border: none;
}

.tooltip .tooltip-inner {
  border-radius: 2px;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -o-border-radius: 2px;
}

#content {
  padding: 60px 0;
  &.full-sections {
    padding: 0;
  }
}

.section {
  position: relative;
  overflow: hidden;
  background-repeat: no-repeat;
  background-position: center center;
  -webkit-background-size: cover !important;
  -moz-background-size: cover !important;
  -o-background-size: cover !important;
  background-size: cover !important;
  &.repeat-bg {
    background-repeat: repeat;
    -webkit-background-size: auto !important;
    -moz-background-size: auto !important;
    -o-background-size: auto !important;
    background-size: auto !important;
  }
}

.bg-parallax {
  background-attachment: fixed;
}

.section-video {
  position: absolute;
  z-index: 33;
  left: 0;
  top: -100px;
  width: 100% !important;
  max-width: 100% !important;
  height: auto !important;
  object, img {
    display: block;
    width: 100% !important;
    height: auto !important;
  }
}

.section-video-content {
  z-index: 35;
  position: relative;
  opacity: 0.98;
}

.section-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 34;
  opacity: 0.7;
}

.light-section {
  color: #fff;
  .testimonials {
    color: #666;
    .testimonial-content p {
      color: #c4c4c4;
    }
  }
}

#container {
  background-color: #fff;
}

.boxed-page {
  position: relative;
  width: 1220px;
  margin: 0 auto;
  background-color: #fff;
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  -o-box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  header {
    width: 1220px;
  }
}

#loader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #ffffff;
  z-index: 9999999999;
}

@-webkit-keyframes ball-scale-multiple {
  0% {
    -webkit-transform: scale(0);
    transform: scale(0);
    opacity: 0;
  }

  5% {
    opacity: 1;
  }

  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
    opacity: 0;
  }
}


@keyframes ball-scale-multiple {
  0% {
    -webkit-transform: scale(0);
    transform: scale(0);
    opacity: 0;
  }

  5% {
    opacity: 1;
  }

  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
    opacity: 0;
  }
}


.ball-scale-multiple {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-left: -40px;
  margin-top: -40px;
  -webkit-transform: translateY(-30px);
  -ms-transform: translateY(-30px);
  transform: translateY(-30px);
  > div {
    &:nth-child(2) {
      -webkit-animation-delay: 0.2s;
      animation-delay: 0.2s;
    }
    &:nth-child(3) {
      -webkit-animation-delay: 0.4s;
      animation-delay: 0.4s;
    }
    background-color: #ED5565;
    width: 15px;
    height: 15px;
    border-radius: 100%;
    margin: 2px;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    position: absolute;
    left: 0px;
    top: 0px;
    opacity: 0;
    margin: 0;
    width: 60px;
    height: 60px;
    -webkit-animation: ball-scale-multiple 1s 0s linear infinite;
    animation: ball-scale-multiple 1s 0s linear infinite;
  }
}

#portfolio-list .mix {
  display: none;
}

.page-banner {
  padding: 30px 0;
  background: #fbfbfb;
  border-bottom: 1px solid #eee;
  h2 {
    font-size: 30px;
    color: #999;
    font-weight: 700;
  }
}

.breadcrumbs {
  float: right;
  margin: 3px 0 6px;
  position: relative;
  z-index: 1;
  font-size: 13px;
  color: #999;
  a {
    color: #444;
  }
  .crumbs-spacer {
    color: #ccc;
    margin: 0 4px;
  }
}

header {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 9999999;
  transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
  -webkit-transition: all 0.4s ease-in-out;
}

.top-bar {
  background: #101215;
  border-bottom: 1px solid rgba(255, 255, 255, 0.06);
  .contact-details li {
    display: inline-block;
    padding: 6px 0;
    a {
      font-size: 12px;
      display: block;
      margin-right: 15px;
      color: #fff;
      line-height: 32px;
      i {
        padding-right: 5px;
        vertical-align: middle;
      }
    }
  }
}

ul.social-list {
  float: right;
  li {
    float: left;
    padding: 6px 0;
    a {
      display: inline-block;
      color: #808C8C;
      transition: all 0.2s ease-in-out;
      -moz-transition: all 0.2s ease-in-out;
      -webkit-transition: all 0.2s ease-in-out;
      i {
        font-size: 16px;
        display: block;
        width: 34px;
        height: 33px;
        line-height: 33px;
        text-align: center;
      }
      &:hover {
        color: #fff;
      }
      &.facebook:hover {
        background-color: #507CBE;
      }
      &.twitter:hover {
        background-color: #63CDF1;
      }
      &.google:hover {
        background-color: #F16261;
      }
      &.dribbble:hover {
        background-color: #E46387;
      }
      &.linkdin:hover {
        background-color: #90CADD;
      }
      &.vimeo:hover {
        background-color: #87D3E0;
      }
    }
  }
}

.navbar {
  margin-bottom: 0;
  background: #fff;
  border: none;
  border-bottom: 1px solid #eee;
  border-radius: 0;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -o-border-radius: 0;
}

.navbar-brand {
  position: relative;
  padding: 22px 0;
  margin: 0 !important;
  transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
}

.navbar-default .navbar-nav {
  margin-right: 10px !important;
  position: relative;
  transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
  -webkit-transition: all 0.4s ease-in-out;
  > li {
    margin-left: 6px;
    padding-top: 20px;
    padding-bottom: 20px;
    > a {
      color: #999;
      display: block;
      font-size: 14px;
      border-radius: 4px;
      padding: 7px 20px;
      text-transform: uppercase;
      font-weight: 300;
      overflow: hidden;
      transition: all 0.3s ease-in-out;
      -moz-transition: all 0.3s ease-in-out;
      -webkit-transition: all 0.3s ease-in-out;
      font-weight: 400;
      i {
        margin: 0 -2px 0 -5px;
      }
    }
  }
  .dropdown {
    position: absolute;
    left: 0;
    top: 100%;
    width: 200px;
    padding: 10px 20px 20px 20px;
    background-color: #fff;
    visibility: hidden;
    z-index: 2;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
    -moz-transition: opacity 0.3s ease-in-out;
    -webkit-transition: opacity 0.3s ease-in-out;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
    -o-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
    -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
  }
  > li.drop:hover .dropdown {
    visibility: visible;
    opacity: 1;
  }
}

.dropdown li, .sup-dropdown li {
  position: relative;
}

.dropdown li a, .sup-dropdown li a {
  display: block;
  color: #666;
  font-size: 13px;
  font-family: 'Raleway', sans-serif;
  padding: 11px 16px;
  margin: 3px 0;
  text-decoration: none;
  text-transform: capitalize;
  transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
}

.dropdown li a i {
  margin: 0 0 0 -4px;
}

.navbar-default .navbar-nav {
  .sup-dropdown {
    position: absolute;
    left: 100%;
    top: 0;
    width: 200px;
    background-color: #fff;
    margin-top: 10px;
    transition: margin-top 0.2s ease-in-out;
    -moz-transition: margin-top 0.2s ease-in-out;
    -webkit-transition: margin-top 0.2s ease-in-out;
    visibility: hidden;
    z-index: 3;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
    -o-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
    -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
  }
  li.drop .dropdown li:hover .sup-dropdown {
    visibility: visible;
    margin-top: 0;
  }
}

.search-side {
  position: relative;
  float: right;
  top: 19px;
  right: -15px;
  transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
}

.show-search {
  position: relative;
  display: block;
  cursor: pointer;
  float: right;
  i {
    font-size: 1.2em !important;
    display: block;
    color: #666;
    width: 36px;
    height: 36px;
    border-radius: 2px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    -o-border-radius: 2px;
    line-height: 36px;
    text-align: center;
    background-color: #f2f2f2;
    transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -webkit-transition: all 0.2s ease-in-out;
  }
  &:hover i {
    color: #666;
  }
}

.full-search {
  width: 100%;
  background: #444444;
  z-index: 9999;
  position: absolute;
  top: 0px;
  display: none;
  left: 0px;
  height: 77px;
  margin-bottom: -1px;
  .form-control:focus {
    border: none;
  }
  .close-search {
    cursor: pointer;
    color: #fff;
    top: 24px;
  }
  input[type="text"] {
    outline: none;
    font-size: 22px;
    display: inline-block;
    color: #FFF;
    width: 100%;
    margin-left: -45px;
    font-weight: 400;
    border: none;
    background: #444;
    padding: 0px 65px;
    line-height: 30px;
  }
}

.wpb-mobile-menu, .slicknav_menu {
  display: none;
}

@media screen and (max-width: 767px) {
  .js {
    #wpb-mobile-menu {
      display: none;
    }
    .slicknav_menu {
      display: block;
    }
  }
}

.tp-caption {
  .small-title {
    color: #fff;
    font-size: 30px;
    letter-spacing: 1px;
    text-transform: uppercase;
    font-weight: 300;
    span {
      font-size: 32px;
      font-weight: 700;
    }
  }
  .big-title {
    font-size: 53px;
    color: #fff;
    line-height: 60px;
    margin: 0px;
    padding: 0px;
    letter-spacing: 0px;
  }
  .btn-large {
    color: #fff;
    font-size: 22px;
    padding: 18px 40px;
    z-index: 11;
    &:hover {
      color: #fff;
    }
  }
}

.section {
  padding-top: 80px;
  padding-bottom: 80px;
}

.icon {
  position: absolute;
  margin-top: 5px;
}

.icon-small {
  font-size: 2em;
  color: #444;
  transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
  -webkit-transition: all 0.4s ease-in-out;
}

.icon-medium {
  font-size: 22px;
  color: #666;
  width: 48px;
  line-height: 48px;
  height: 48px;
  text-align: center;
  color: #fff;
  background: #666;
  position: relative;
  transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
  -webkit-transition: all 0.4s ease-in-out;
}

.icon-radius {
  font-size: 24px;
  width: 60px;
  border-radius: 100%;
  line-height: 60px;
  position: relative;
  height: 60px;
  text-align: center;
  color: #fff;
  cursor: pointer;
  transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
  -webkit-transition: all 0.4s ease-in-out;
  &:after {
    content: '';
    position: absolute;
    top: -2px;
    left: -2px;
    -webkit-transform: scale(0.85);
    -moz-transform: scale(0.85);
    -ms-transform: scale(0.85);
    transform: scale(0.85);
    padding: 2px;
    z-index: -1;
    pointer-events: none;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    box-sizing: content-box;
    -webkit-transition: -webkit-transform 0.4s, opacity 0.4s;
    -moz-transition: -moz-transform 0.4s, opacity 0.4s;
    transition: transform 0.4s, opacity 0.4s;
  }
  &:hover:after {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
  }
}

.icon-large {
  font-size: 3em;
  color: #666;
  transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
  -webkit-transition: all 0.4s ease-in-out;
}

.icon-mini-effect {
  position: relative;
  display: block;
  z-index: 1;
  font-size: 1.2em;
  color: #fff;
  top: 4px;
  width: 32px;
  height: 32px;
  line-height: 32px;
  text-align: center;
  margin: 0;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -o-border-radius: 50%;
  transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
  -webkit-transition: all 0.4s ease-in-out;
}

.icon-medium-effect {
  position: relative;
  display: block;
  z-index: 1;
  font-size: 2em;
  color: #fff;
  width: 64px;
  height: 64px;
  line-height: 64px;
  text-align: center;
  margin: 0;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -o-border-radius: 50%;
  transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
  -webkit-transition: all 0.4s ease-in-out;
}

.icon-large-effect {
  position: relative;
  display: block;
  z-index: 1;
  font-size: 2.6em;
  color: #fff;
  width: 80px;
  height: 80px;
  line-height: 80px;
  text-align: center;
  margin: 0;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -o-border-radius: 50%;
  transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
  -webkit-transition: all 0.4s ease-in-out;
}

.icon-mini-effect:after, .icon-medium-effect:after, .icon-large-effect:after {
  pointer-events: none;
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -o-border-radius: 50%;
  content: '';
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
}

.icon-effect-1 {
  background-color: #fff;
  -webkit-transition: color 0.4s;
  -moz-transition: color 0.4s;
  transition: color 0.4s;
}

.gray-icon.icon-effect-1 {
  box-shadow: 0 0 0 3px #444;
  -o-box-shadow: 0 0 0 3px #444;
  -moz-box-shadow: 0 0 0 3px #444;
  -webkit-box-shadow: 0 0 0 3px #444;
}

.icon-effect-1:after {
  top: -2px;
  left: -2px;
  padding: 2px;
  z-index: -1;
  -webkit-transition: -webkit-transform 0.4s, opacity 0.4s;
  -moz-transition: -moz-transform 0.4s, opacity 0.4s;
  transition: transform 0.4s, opacity 0.4s;
}

.gray-icon.icon-effect-1:after {
  background: #444;
}

.icon-effect-1.gray-icon:hover, .service-box:hover .gray-icon.icon-effect-1 {
  color: #444;
}

.icon-effect-1:hover:after, .service-box:hover .icon-effect-1:after {
  -webkit-transform: scale(1.3);
  -moz-transform: scale(1.3);
  -ms-transform: scale(1.3);
  transform: scale(1.3);
  opacity: 0;
}

.icon-effect-2 {
  background: #fff;
  -webkit-transition: color 0.4s;
  -moz-transition: color 0.4s;
  transition: color 0.4s;
}

.gray-icon.icon-effect-2 {
  color: #444;
  box-shadow: 0 0 0 3px #444;
  -o-box-shadow: 0 0 0 3px #444;
  -moz-box-shadow: 0 0 0 3px #444;
  -webkit-box-shadow: 0 0 0 3px #444;
}

.icon-effect-2:after {
  top: -2px;
  left: -2px;
  padding: 2px;
  z-index: -1;
  -webkit-transform: scale(1.3);
  -moz-transform: scale(1.3);
  -ms-transform: scale(1.3);
  transform: scale(1.3);
  opacity: 0;
  -webkit-transition: -webkit-transform 0.4s, opacity 0.4s;
  -moz-transition: -moz-transform 0.4s, opacity 0.4s;
  transition: transform 0.4s, opacity 0.4s;
}

.gray-icon.icon-effect-2:after {
  background: #444;
}

.icon-effect-2:hover, .service-box:hover .icon-effect-2, .icon-effect-2.gray-icon:hover, .service-box:hover .gray-icon.icon-effect-2 {
  color: #fff;
}

.icon-effect-2:hover:after, .service-box:hover .icon-effect-2:after {
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
  opacity: 1;
}

.icon-effect-3 {
  background: #fff;
}

.gray-icon.icon-effect-3 {
  color: #444;
  box-shadow: 0 0 0 3px #444;
  -o-box-shadow: 0 0 0 3px #444;
  -moz-box-shadow: 0 0 0 3px #444;
  -webkit-box-shadow: 0 0 0 3px #444;
}

.icon-effect-3:hover:before, .service-box:hover .icon-effect-3:before {
  -webkit-animation: toRightFromLeft 0.4s forwards;
  -moz-animation: toRightFromLeft 0.4s forwards;
  animation: toRightFromLeft 0.4s forwards;
}

@-webkit-keyframes toRightFromLeft {
  49% {
    -webkit-transform: translate(100%);
  }

  50% {
    opacity: 0;
    -webkit-transform: translate(-100%);
  }

  51% {
    opacity: 1;
  }
}


@-moz-keyframes toRightFromLeft {
  49% {
    -moz-transform: translate(100%);
  }

  50% {
    opacity: 0;
    -moz-transform: translate(-100%);
  }

  51% {
    opacity: 1;
  }
}


@keyframes toRightFromLeft {
  49% {
    transform: translate(100%);
  }

  50% {
    opacity: 0;
    transform: translate(-100%);
  }

  51% {
    opacity: 1;
  }
}


.icon-effect-4 {
  background: #fff;
}

.gray-icon.icon-effect-4 {
  color: #444;
  box-shadow: 0 0 0 3px #444;
  -o-box-shadow: 0 0 0 3px #444;
  -moz-box-shadow: 0 0 0 3px #444;
  -webkit-box-shadow: 0 0 0 3px #444;
}

.icon-effect-4:hover:before, .service-box:hover .icon-effect-4:before {
  -webkit-animation: toLeftFromRight 0.4s forwards;
  -moz-animation: toLeftFromRight 0.4s forwards;
  animation: toLeftFromRight 0.4s forwards;
}

@-webkit-keyframes toLeftFromRight {
  49% {
    -webkit-transform: translate(-100%);
  }

  50% {
    opacity: 0;
    -webkit-transform: translate(100%);
  }

  51% {
    opacity: 1;
  }
}


@-moz-keyframes toLeftFromRight {
  49% {
    -moz-transform: translate(-100%);
  }

  50% {
    opacity: 0;
    -moz-transform: translate(100%);
  }

  51% {
    opacity: 1;
  }
}


@keyframes toLeftFromRight {
  49% {
    transform: translate(-100%);
  }

  50% {
    opacity: 0;
    transform: translate(100%);
  }

  51% {
    opacity: 1;
  }
}


.icon-effect-5 {
  background: #fff;
}

.gray-icon.icon-effect-5 {
  color: #444;
  box-shadow: 0 0 0 3px #444;
  -o-box-shadow: 0 0 0 3px #444;
  -moz-box-shadow: 0 0 0 3px #444;
  -webkit-box-shadow: 0 0 0 3px #444;
}

.icon-effect-5:hover:before, .service-box:hover .icon-effect-5:before {
  -webkit-animation: toTopFromBottom 0.4s forwards;
  -moz-animation: toTopFromBottom 0.4s forwards;
  animation: toTopFromBottom 0.4s forwards;
}

@-webkit-keyframes toTopFromBottom {
  49% {
    -webkit-transform: translateY(-100%);
  }

  50% {
    opacity: 0;
    -webkit-transform: translateY(100%);
  }

  51% {
    opacity: 1;
  }
}


@-moz-keyframes toTopFromBottom {
  49% {
    -moz-transform: translateY(-100%);
  }

  50% {
    opacity: 0;
    -moz-transform: translateY(100%);
  }

  51% {
    opacity: 1;
  }
}


@keyframes toTopFromBottom {
  49% {
    transform: translateY(-100%);
  }

  50% {
    opacity: 0;
    transform: translateY(100%);
  }

  51% {
    opacity: 1;
  }
}


.icon-effect-6 {
  background: #fff;
}

.gray-icon.icon-effect-6 {
  color: #444;
  box-shadow: 0 0 0 3px #444;
  -o-box-shadow: 0 0 0 3px #444;
  -moz-box-shadow: 0 0 0 3px #444;
  -webkit-box-shadow: 0 0 0 3px #444;
}

.icon-effect-6:hover:before, .service-box:hover .icon-effect-6:before {
  -webkit-animation: toBottomFromTop 0.4s forwards;
  -moz-animation: toBottomFromTop 0.4s forwards;
  animation: toBottomFromTop 0.4s forwards;
}

@-webkit-keyframes toBottomFromTop {
  49% {
    -webkit-transform: translateY(100%);
  }

  50% {
    opacity: 0;
    -webkit-transform: translateY(-100%);
  }

  51% {
    opacity: 1;
  }
}


@-moz-keyframes toBottomFromTop {
  49% {
    -moz-transform: translateY(100%);
  }

  50% {
    opacity: 0;
    -moz-transform: translateY(-100%);
  }

  51% {
    opacity: 1;
  }
}


@keyframes toBottomFromTop {
  49% {
    transform: translateY(100%);
  }

  50% {
    opacity: 0;
    transform: translateY(-100%);
  }

  51% {
    opacity: 1;
  }
}

#blog {
  position: relative;
  width: 100%;
  overflow: hidden;
}

.blog-padding {
  padding: 0;
  overflow: hidden;
}

.blog-item {
  overflow: hidden;
  display: block;
  position: relative;
  .blog-img:before {
    content: '';
    position: absolute;
    width: 100%;
    background: rgba(0, 0, 0, 0.7);
    height: 100%;
  }
  .blog-content {
    position: absolute;
    top: 16%;
    width: 100%;
    height: 100%;
    padding: 0px 40px;
    h3 {
      font-size: 17px;
      padding-bottom: 5px;
      -webkit-transition: all 900ms linear;
      -moz-transition: all 900ms linear;
      -ms-transition: all 900ms linear;
      transition: all 900ms linear;
    }
    .body {
      color: #FFF;
      font-size: 14px;
      letter-spacing: 1px;
      line-height: 24px;
      margin-bottom: 18px;
      -webkit-transition: all 400ms linear;
      -moz-transition: all 400ms linear;
      -ms-transition: all 400ms linear;
      transition: all 400ms linear;
    }
  }
}

.team-2 {
  background: #F9FAFC;
  .tema-member {
    .overlay .info {
      padding: 120px 20px;
      opacity: 0;
      -webkit-transition: all 0.9s ease-in-out;
      -moz-transition: all 0.9s ease-in-out;
      -ms-transition: all 0.9s ease-in-out;
      transition: all 0.9s ease-in-out;
      h5 {
        margin-bottom: 20px;
      }
    }
    &:hover {
      .social-media {
        -webkit-transform: translateY(-125%);
        -moz-webkit-transform: translateY(-125%);
        transform: translateY(-125%);
      }
      .info {
        opacity: 1;
        margin-top: 12px;
      }
    }
  }
}

.features .features-item {
  padding: 60px 0;
  .features {
    margin-bottom: 60px;
    .icon {
      float: left;
      i {
        z-index: 99;
      }
    }
  }
  .features-content {
    margin-left: 80px;
    padding-right: 68px;
    h3 {
      padding-bottom: 8px;
      text-transform: uppercase;
    }
  }
  .features:hover .icon-radius:after {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
  }
}

.clear {
  clear: both;
}

.description {
  padding-bottom: 30px;
}

.margin-60 {
  margin-top: 30px;
  margin-bottom: 30px;
}

.margin-top {
  margin-top: 30px;
}

.hr1 {
  height: 1px;
}

.hr2 {
  height: 0;
  border-bottom: 1px solid #eee;
}

.hr3 {
  height: 0;
  border-bottom: 1px dotted #eee;
}

.hr4 {
  height: 0;
  border-bottom: 1px dashed #eee;
}

.hr5 {
  height: 1px;
  background-image: -webkit-linear-gradient(left, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.15), rgba(0, 0, 0, 0));
  background-image: -moz-linear-gradient(left, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.15), rgba(0, 0, 0, 0));
  background-image: -ms-linear-gradient(left, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.15), rgba(0, 0, 0, 0));
  background-image: -o-linear-gradient(left, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.15), rgba(0, 0, 0, 0));
}

.custom-carousel {
  .item {
    padding-right: 20px;
  }
  &.show-one-slide .item {
    padding-right: 0;
  }
}

.latest-posts-classic {
  .post-row {
    margin-bottom: 20px;
  }
  .left-meta-post {
    float: left;
    text-align: center;
    margin-right: 12px;
    margin-bottom: 0;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -o-border-radius: 3px;
    overflow: hidden;
    .post-date {
      padding: 8px 0;
      width: 42px;
      background-color: #444;
      color: #fff;
      .day {
        font-size: 20px;
        font-weight: 700;
        display: block;
        letter-spacing: 1px;
      }
      .month {
        display: block;
        text-transform: uppercase;
        line-height: 14px;
        font-size: 11px;
        letter-spacing: 1px;
      }
    }
    .post-type i {
      display: block;
      height: 40px;
      line-height: 39px;
      width: 42px;
      color: #fff;
      font-size: 1.4em;
    }
  }
  .post-title {
    margin-bottom: 5px;
    a {
      color: #444;
      transition: all 0.4s ease-in-out;
      -moz-transition: all 0.4s ease-in-out;
      -webkit-transition: all 0.4s ease-in-out;
    }
  }
  .read-more {
    transition: all 0.4s ease-in-out;
    -moz-transition: all 0.4s ease-in-out;
    -webkit-transition: all 0.4s ease-in-out;
    &:hover {
      color: #444;
    }
  }
}

.dropcap {
  display: block;
  float: left;
  font-size: 40px;
  line-height: 34px;
  color: #444;
  margin: 6px 8px 0 0;
  &.border-dropcap {
    border: 2px solid #444;
    width: 46px;
    height: 46px;
    font-size: 28px;
    font-weight: 500;
    line-height: 42px;
    text-align: center;
    border-radius: 2px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    -o-border-radius: 2px;
    margin: 8px 12px 0 0;
  }
  &.bg-dropcap {
    background-color: #444;
    color: #fff;
    width: 48px;
    height: 48px;
    font-size: 28px;
    font-weight: 500;
    line-height: 48px;
    text-align: center;
    border-radius: 2px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    -o-border-radius: 2px;
    margin: 8px 12px 0 0;
  }
  &.circle-dropcap {
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -o-border-radius: 50%;
  }
}

.milestone-block {
  display: inline-block;
  margin-bottom: 25px;
  margin-right: 50px;
  &:last-child {
    margin-right: 0;
  }
  .milestone-icon {
    float: left;
    width: 48px;
    height: 48px;
    line-height: 48px;
    text-align: center;
    margin-right: 9px;
    margin-bottom: 4px;
    border-radius: 2px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    -o-border-radius: 2px;
    position: relative;
    &:after {
      content: "";
      display: block;
      width: 8px;
      height: 8px;
      position: absolute;
      top: 21px;
      right: -2px;
      -webkit-transform: rotate(-45deg);
      -moz-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
      -o-transform: rotate(-45deg);
    }
    i {
      font-size: 2em;
      color: #fff;
    }
  }
  .milestone-right {
    float: left;
    text-align: left;
  }
  .milestone-number {
    font-size: 26px;
    line-height: 28px;
    font-weight: 500;
  }
  .milestone-text {
    font-size: 18px;
    color: #444;
  }
}

.btn {
  border: none;
  font-weight: 400;
  cursor: pointer;
  display: inline-block;
  color: #fff;
  padding: 10px 12px;
  text-transform: uppercase;
  letter-spacing: 1px;
  outline: none;
  position: relative;
  &:hover {
    color: #fff;
  }
  &:focus, &:active {
    color: #FFF;
    outline: none;
  }
}

.btn-large {
  color: #fff;
  padding: 18px 22px;
  margin: 15px 0px;
  border: 1px solid transparent;
}

.btn-effect {
  overflow: hidden;
  &:before {
    left: auto;
    right: 10px;
    z-index: 2;
    position: absolute;
    height: 100%;
    left: 0px;
    top: 0px;
    line-height: 3;
    font-size: 140%;
    width: 60px;
  }
  &:after {
    content: '';
    position: absolute;
    width: 30%;
    height: 230%;
    z-index: 1;
    left: 0;
    top: 0;
    margin: -2px 0px 0px -22px;
    -webkit-transform-origin: 0 0;
    -webkit-transform: rotate(-20deg);
    -moz-transform-origin: 0 0;
    -moz-transform: rotate(-20deg);
    -ms-transform-origin: 0 0;
    -ms-transform: rotate(-20deg);
    transform-origin: 0 0;
    transform: rotate(-20deg);
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    transition: all 0.3s ease;
  }
  &:hover:after {
    width: 60%;
  }
}

.btn-small {
  padding: 10px 12px;
}

.btn-wite {
  border: 1px solid #fff;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  transition: all 0.3s ease;
  &:hover {
    background: rgba(255, 239, 250, 0.4);
    border-color: rgba(255, 239, 250, 0.4);
  }
}

.pn {
  margin: 0 15px;
}

.alert-success p {
  color: #468847;
}

.alert-info p {
  color: #3a87ad;
}

.alert-warning p {
  color: #c09853;
}

.alert-danger p {
  color: #a94442;
}

.alert {
  h4 {
    margin-bottom: 10px;
  }
  strong {
    font-weight: 700;
  }
}

ul {
  &.icons-list {
    margin-bottom: 6px;
    li {
      margin-bottom: 4px;
    }
  }
  &.list-unstyled li {
    margin-bottom: 4px;
  }
  &.icons-list li i {
    font-size: 14px;
    margin-right: 4px;
  }
}

.classic-title {
  margin-bottom: 16px;
  padding-bottom: 8px;
  border-bottom: 1px solid #eee;
  font-weight: 400;
  span {
    padding-bottom: 10px;
    border-bottom: 1px solid;
    font-weight: 400;
  }
}

.big-title {
  margin-bottom: 20px;
  font-size: 30px;
  h1, h2 {
    font-size: 26px;
    line-height: 32px;
    font-weight: 400;
  }
  h1 strong, h2 strong {
    font-weight: 400;
  }
  .title-desc {
    font-size: 16px;
    line-height: 22px;
    color: #666;
  }
  h2 + .title-desc, h1 + .title-desc {
    margin-top: 4px;
  }
}

.recent-post {
  overflow: hidden;
  .post {
    float: left;
    margin-bottom: 8px;
    a {
      float: left;
      width: 80px;
      opacity: 0.6;
      transition: all 0.2s ease-in-out;
      -moz-transition: all 0.2s ease-in-out;
      -webkit-transition: all 0.2s ease-in-out;
      &:hover {
        opacity: 1;
      }
      img {
        width: 100%;
        height: 65px;
      }
    }
    .text {
      padding-left: 92px;
      color: #fff;
      span {
        font-size: 12px;
        color: #627282;
      }
    }
  }
}

.tags li {
  display: inline-block;
  margin-left: 3px;
  margin-bottom: 18px;
  a {
    background: #22323F;
    color: #fff;
    border-radius: 4px;
    text-decoration: none;
    padding: 7px 14px;
    transition: all 0.4s ease-in-out;
    -moz-transition: all 0.4s ease-in-out;
    -webkit-transition: all 0.4s ease-in-out;
  }
}

.flickr-widget ul {
  overflow: hidden;
  li {
    float: left;
    margin-left: 3px;
    margin-bottom: 3px;
    a {
      display: inline-block;
      width: 80px;
      opacity: 0.6;
      transition: all 0.2s ease-in-out;
      -moz-transition: all 0.2s ease-in-out;
      -webkit-transition: all 0.2s ease-in-out;
      img {
        width: 100%;
        height: 65px;
      }
      &:hover {
        opacity: 1;
      }
    }
  }
}

.back-to-top {
  display: none;
  position: fixed;
  bottom: 18px;
  right: 15px;
  i {
    display: block;
    width: 36px;
    height: 36px;
    line-height: 36px;
    color: #fff;
    border-radius: 2px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    -o-border-radius: 2px;
    text-align: center;
    background-color: #444;
    transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -webkit-transition: all 0.2s ease-in-out;
  }
}

.error-page {
  text-align: center;
  padding: 40px 0;
  p {
    font-size: 18px;
    line-height: 28px;
    color: #666;
    margin-bottom: 25px;
  }
  h1 {
    font-size: 300px;
    margin: 130px 0px;
  }
  .btn {
    margin-top: 80px;
  }
}

/*
 * Nivo Lightbox v1.0
 * http://dev7studios.com/nivo-lightbox
 *
 * Copyright 2013, Dev7studios
 * Free to use and abuse under the MIT license.
 * http://www.opensource.org/licenses/mit-license.php
 */

.nivo-lightbox-overlay {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 99999999;
  width: 100%;
  height: 100%;
  overflow: hidden;
  visibility: hidden;
  opacity: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  &.nivo-lightbox-open {
    visibility: visible;
    opacity: 1;
  }
}

.nivo-lightbox-wrap {
  position: absolute;
  top: 10%;
  bottom: 10%;
  left: 10%;
  right: 10%;
}

.nivo-lightbox-content {
  width: 100%;
  height: 100%;
}

.nivo-lightbox-title-wrap {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  z-index: 99999;
  text-align: center;
}

.nivo-lightbox-nav {
  display: none;
}

.nivo-lightbox-prev {
  position: absolute;
  top: 50%;
  left: 0;
}

.nivo-lightbox-next {
  position: absolute;
  top: 50%;
  right: 0;
}

.nivo-lightbox-close {
  position: absolute;
  top: 2%;
  right: 2%;
}

.nivo-lightbox-image {
  text-align: center;
  img {
    max-width: 100%;
    max-height: 100%;
    width: auto;
    height: auto;
    vertical-align: middle;
  }
}

.nivo-lightbox-content iframe {
  width: 100%;
  height: 100%;
}

.nivo-lightbox-ajax {
  max-height: 100%;
  overflow: auto;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  /* https://bugzilla.mozilla.org/show_bug.cgi?id=308801 */
}

.nivo-lightbox-error {
  display: table;
  text-align: center;
  width: 100%;
  height: 100%;
  color: #fff;
  text-shadow: 0 1px 1px #000;
  p {
    display: table-cell;
    vertical-align: middle;
  }
}

.nivo-lightbox-effect-fade, .nivo-lightbox-effect-fadeScale, .nivo-lightbox-effect-slideLeft, .nivo-lightbox-effect-slideRight, .nivo-lightbox-effect-slideUp, .nivo-lightbox-effect-slideDown, .nivo-lightbox-effect-fall {
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -ms-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

.nivo-lightbox-effect-fadeScale {
  .nivo-lightbox-wrap {
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    transition: all 0.3s;
    -webkit-transform: scale(0.7);
    -moz-transform: scale(0.7);
    -ms-transform: scale(0.7);
    transform: scale(0.7);
  }
  &.nivo-lightbox-open .nivo-lightbox-wrap {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
  }
}

.nivo-lightbox-effect-slideLeft .nivo-lightbox-wrap, .nivo-lightbox-effect-slideRight .nivo-lightbox-wrap, .nivo-lightbox-effect-slideUp .nivo-lightbox-wrap, .nivo-lightbox-effect-slideDown .nivo-lightbox-wrap {
  -webkit-transition: all 0.3s cubic-bezier(0.25, 0.5, 0.5, 0.9);
  -moz-transition: all 0.3s cubic-bezier(0.25, 0.5, 0.5, 0.9);
  -ms-transition: all 0.3s cubic-bezier(0.25, 0.5, 0.5, 0.9);
  transition: all 0.3s cubic-bezier(0.25, 0.5, 0.5, 0.9);
}

.nivo-lightbox-effect-slideLeft .nivo-lightbox-wrap {
  -webkit-transform: translateX(-10%);
  -moz-transform: translateX(-10%);
  -ms-transform: translateX(-10%);
  transform: translateX(-10%);
}

.nivo-lightbox-effect-slideRight .nivo-lightbox-wrap {
  -webkit-transform: translateX(10%);
  -moz-transform: translateX(10%);
  -ms-transform: translateX(10%);
  transform: translateX(10%);
}

.nivo-lightbox-effect-slideLeft.nivo-lightbox-open .nivo-lightbox-wrap, .nivo-lightbox-effect-slideRight.nivo-lightbox-open .nivo-lightbox-wrap {
  -webkit-transform: translateX(0);
  -moz-transform: translateX(0);
  -ms-transform: translateX(0);
  transform: translateX(0);
}

.nivo-lightbox-effect-slideDown .nivo-lightbox-wrap {
  -webkit-transform: translateY(-10%);
  -moz-transform: translateY(-10%);
  -ms-transform: translateY(-10%);
  transform: translateY(-10%);
}

.nivo-lightbox-effect-slideUp {
  .nivo-lightbox-wrap {
    -webkit-transform: translateY(10%);
    -moz-transform: translateY(10%);
    -ms-transform: translateY(10%);
    transform: translateY(10%);
  }
  &.nivo-lightbox-open .nivo-lightbox-wrap {
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
  }
}

.nivo-lightbox-effect-slideDown.nivo-lightbox-open .nivo-lightbox-wrap {
  -webkit-transform: translateY(0);
  -moz-transform: translateY(0);
  -ms-transform: translateY(0);
  transform: translateY(0);
}

.nivo-lightbox-body-effect-fall .nivo-lightbox-effect-fall {
  -webkit-perspective: 1000px;
  -moz-perspective: 1000px;
  perspective: 1000px;
}

.nivo-lightbox-effect-fall {
  .nivo-lightbox-wrap {
    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -ms-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
    -webkit-transform: translateZ(300px);
    -moz-transform: translateZ(300px);
    -ms-transform: translateZ(300px);
    transform: translateZ(300px);
  }
  &.nivo-lightbox-open .nivo-lightbox-wrap {
    -webkit-transform: translateZ(0);
    -moz-transform: translateZ(0);
    -ms-transform: translateZ(0);
    transform: translateZ(0);
  }
}

.nivo-lightbox-theme-default {
  &.nivo-lightbox-overlay {
    background: #666;
    background: rgba(0, 0, 0, 0.8);
  }
  .nivo-lightbox-content.nivo-lightbox-loading {
    background: url(../img/lightbox/loading.gif) no-repeat 50% 50%;
  }
  .nivo-lightbox-nav {
    top: 10%;
    width: 8%;
    height: 80%;
    text-indent: -9999px;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    opacity: 0.5;
    transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -webkit-transition: all 0.2s ease-in-out;
    &:hover {
      opacity: 1;
      background-color: rgba(0, 0, 0, 0.5);
    }
  }
  .nivo-lightbox-prev {
    background-image: url(../img/lightbox/prev.png);
    border-radius: 0 3px 3px 0;
    -webkit-border-radius: 0 3px 3px 0;
    -moz-border-radius: 0 3px 3px 0;
    -o-border-radius: 0 3px 3px 0;
  }
  .nivo-lightbox-next {
    background-image: url(../img/lightbox/next.png);
    border-radius: 3px 0 0 3px;
    -webkit-border-radius: 3px 0 0 3px;
    -moz-border-radius: 3px 0 0 3px;
    -o-border-radius: 3px 0 0 3px;
  }
  .nivo-lightbox-close {
    display: block;
    background: url(../img/lightbox/close.png) no-repeat 5px 5px;
    width: 16px;
    height: 16px;
    text-indent: -9999px;
    padding: 5px;
    opacity: 0.5;
    &:hover {
      opacity: 1;
    }
  }
  .nivo-lightbox-title-wrap {
    bottom: -7%;
  }
  .nivo-lightbox-title {
    font: 14px/20px 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-style: normal;
    font-weight: normal;
    background: #000;
    color: #fff;
    padding: 7px 15px;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -o-border-radius: 3px;
  }
  .nivo-lightbox-image img {
    background: #fff;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.5);
    -o-box-shadow: 0 0 8px rgba(0, 0, 0, 0.5);
    -moz-box-shadow: 0 0 8px rgba(0, 0, 0, 0.5);
    -webkit-box-shadow: 0 0 8px rgba(0, 0, 0, 0.5);
  }
  .nivo-lightbox-ajax, .nivo-lightbox-inline {
    background: #fff;
    padding: 40px;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.5);
    -o-box-shadow: 0 0 8px rgba(0, 0, 0, 0.5);
    -moz-box-shadow: 0 0 8px rgba(0, 0, 0, 0.5);
    -webkit-box-shadow: 0 0 8px rgba(0, 0, 0, 0.5);
  }
}

@media (-webkit-min-device-pixel-ratio: 1.3), (-o-min-device-pixel-ratio: 2.6 / 2), (min--moz-device-pixel-ratio: 1.3), (min-device-pixel-ratio: 1.3), (min-resolution: 1.3dppx) {
  .nivo-lightbox-theme-default {
    .nivo-lightbox-content.nivo-lightbox-loading {
      background-image: url(../img/lightbox/loading@2x.gif);
      background-size: 32px 32px;
    }
    .nivo-lightbox-prev {
      background-image: url(../img/lightbox/prev@2x.png);
      background-size: 48px 48px;
    }
    .nivo-lightbox-next {
      background-image: url(../img/lightbox/next@2x.png);
      background-size: 48px 48px;
    }
    .nivo-lightbox-close {
      background-image: url(../img/lightbox/close@2x.png);
      background-size: 16px 16px;
    }
  }
}

#bar {
  width: 0%;
  max-width: 100%;
  height: 4px;
  background: #444;
  filter: alpha(opacity = 50);
  /*IE7 fix*/
  opacity: 0.5;
}

#progressBar {
  position: absolute;
  top: 0;
  z-index: 99;
  width: 100%;
}

.switcher-box {
  width: 236px;
  position: fixed;
  left: -236px;
  top: 160px;
  z-index: 999999999;
  background-color: #fff;
  display: block !important;
  transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
  -webkit-transition: all 0.4s ease-in-out;
  h4 {
    display: block;
    margin: 0px 20px;
    line-height: 42px;
    font-size: 14px;
    font-weight: 700;
    border-bottom: 1px dotted #eee;
    background-color: #fff;
    margin-bottom: 10px;
  }
  span {
    display: block;
    padding: 5px 20px;
    text-align: left;
  }
  .colors-list {
    padding: 0 18px 0 18px;
    margin-bottom: 8px;
    line-height: 20px;
    li {
      display: inline-block;
      margin-right: 2px;
      a {
        display: block;
        width: 24px;
        height: 24px;
        border-radius: 3px;
        cursor: pointer;
        &.blue {
          background-color: #0a9fd8;
        }
        &.cyan {
          background-color: #27bebe;
        }
        &.jade {
          background-color: #0bb586;
        }
        &.red {
          background-color: #ee3733;
        }
        &.peach {
          background-color: #f49237;
        }
        &.sky-blue {
          background-color: #38cbcb;
        }
        &.yellow {
          background-color: #f8ba01;
        }
        &.green {
          background-color: #94c523;
        }
        &.orange {
          background-color: #f36510;
        }
        &.pink {
          background-color: #f1505b;
        }
        &.purple {
          background-color: #6a3da3;
        }
        &.beige {
          background-color: #fdb655;
        }
      }
    }
  }
  .layout-style, .topbar-style {
    width: 172px;
    padding: 6px 9px;
    outline: none;
    display: block;
    background: #fff;
    border-radius: 3px;
    padding: 4px 6px;
    color: #666;
    cursor: pointer;
    border-radius: 2px;
    font-size: 12px;
    margin: 0 0 12px 20px;
    border: 1px solid #ddd;
  }
  .bg-list {
    padding: 0 18px 0 18px;
    margin-bottom: 18px;
    li {
      display: inline-block;
      margin-right: 2px;
      a {
        display: block;
        border-radius: 3px;
        width: 20px;
        height: 20px;
        &.bg1 {
          background: url(../img/patterns/1.png) repeat;
        }
        &.bg2 {
          background: url(../img/patterns/2.png) repeat;
        }
        &.bg3 {
          background: url(../img/patterns/3.png) repeat;
        }
        &.bg4 {
          background: url(../img/patterns/4.png) repeat;
        }
        &.bg5 {
          background: url(../img/patterns/5.png) repeat;
        }
        &.bg6 {
          background: url(../img/patterns/6.png) repeat;
        }
        &.bg7 {
          background: url(../img/patterns/7.png) repeat;
        }
        &.bg8 {
          background: url(../img/patterns/8.png) repeat;
        }
        &.bg9 {
          background: url(../img/patterns/9.png) repeat;
        }
        &.bg10 {
          background: url(../img/patterns/10.png) repeat;
        }
        &.bg11 {
          background: url(../img/patterns/11.png) repeat;
        }
        &.bg12 {
          background: url(../img/patterns/12.png) repeat;
        }
        &.bg13 {
          background: url(../img/patterns/13.png) repeat;
        }
        &.bg14 {
          background: url(../img/patterns/14.png) repeat;
        }
      }
    }
  }
  .open-switcher {
    width: 42px;
    height: 42px;
    display: block;
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 100%;
    border-radius: 0 2px 2px 0;
    background: #101215;
    i {
      text-align: center;
      padding-top: 7px;
      display: block;
    }
  }
}

.iframe {
  border: none;
}

.services-2 {
  position: relative;
  text-align: center;
  margin: 0px 0px 30px 0px;
}

.services-2-icon {
  display: inline-block;
  width: 100%;
  display: table;
  i {
    width: 60px;
    height: 60px;
    line-height: 60px;
    margin: 0px auto;
    position: relative;
    display: inline-block;
    margin-right: 15px;
    border-radius: 50%;
    float: left;
    text-align: center;
    font-size: 26px;
    background: #E93735;
    color: #fff;
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
  }
}

.services-2:hover .services-2-icon i {
  display: block;
  -webkit-transform: rotate(360deg);
  -moz-transform: rotate(360deg);
  -o-transform: rotate(360deg);
  -ms-transform: rotate(360deg);
}

.services-2-text {
  margin-left: 75px;
  overflow: hidden;
}

.services-2-icon h4 {
  color: #404449;
  font-size: 16px;
  font-weight: 400;
  margin: 15px 0px 0px 0px;
  text-align: left;
  display: table-cell;
  padding: 0px;
  vertical-align: middle;
  width: 100%;
}

.services-2 p {
  color: #ACB2B8;
  margin: 0px 0px 0px 0px;
  text-align: left;
}

.services-3 {
  position: relative;
  text-align: center;
  margin: 0px 0px 30px 0px;
}

.services-3-icon {
  display: inline-block;
  width: 100%;
  display: table;
  i {
    width: 60px;
    height: 60px;
    line-height: 60px;
    margin: 0px auto;
    position: relative;
    display: inline-block;
    margin-left: 15px;
    border-radius: 50%;
    float: left;
    text-align: center;
    font-size: 26px;
    color: #fff;
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
  }
}

.services-3:hover .services-3-icon i {
  display: block;
  -webkit-transform: rotate(360deg);
  -moz-transform: rotate(360deg);
  -o-transform: rotate(360deg);
  -ms-transform: rotate(360deg);
}

.services-3-text {
  margin-right: 75px;
  overflow: hidden;
}

.services-3-icon h4 {
  font-family: 'Raleway', sans-serif;
  color: #404449;
  font-size: 16px;
  font-weight: 400;
  margin: 0px 0px 15px 0px;
  text-align: right;
  display: table-cell;
  padding: 0px;
  vertical-align: middle;
  width: 100%;
}

.services-3 p {
  color: #ACB2B8;
  margin: 0px 0px 0px 0px;
  text-align: right;
}

.purchase {
  background: url(../img/parallax/bg-02.jpg) no-repeat;
  background-attachment: fixed;
  padding: 100px 0;
}

.navbar-collapse {
  max-height: 340px;
}

img.m-left {
  float: left;
  width: 144px;
  height: 144px;
  margin: 0px 25px 40px 0px;
}

.panel-default {
  border: none;
  box-shadow: none;
  border-bottom: 1px solid #f1f1f1;
  .panel-heading {
    padding: 0;
    background-color: transparent;
    .panel-title {
      font-size: 13px;
      font-weight: 600;
      a {
        position: relative;
        display: block;
        padding: 6px 12px;
        background-color: #fff;
        box-shadow: none;
        outline: none;
        -o-box-shadow: none;
        text-decoration: none;
        -moz-box-shadow: none;
        -webkit-box-shadow: none;
        transition: all 0.2s ease-in-out;
        -moz-transition: all 0.2s ease-in-out;
        -webkit-transition: all 0.2s ease-in-out;
      }
    }
    a.collapsed {
      color: #444;
    }
  }
}

.panel-title a {
  .control-icon {
    position: absolute;
    top: 50%;
    right: 10px;
    margin-top: -11px;
    transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -webkit-transition: all 0.2s ease-in-out;
  }
  &.collapsed .control-icon {
    -webkit-transform: rotate(-180deg);
    -moz-transform: rotate(-180deg);
    -ms-transform: rotate(-180deg);
    -o-transform: rotate(-180deg);
  }
  i {
    font-size: 1.2em;
    padding-right: 5px;
  }
}

.panel-body {
  padding: 4px 15px 10px 15px;
}

.skill p {
  margin-bottom: 10px;
  font-weight: 600;
}

.progress {
  overflow: visible;
  height: 22px;
  margin-bottom: 20px;
  background-color: #FAFAFA;
  border: 1px solid #E2E2E2;
  border-radius: 0px;
  -webkit-box-shadow: none;
  box-shadow: none;
}

.progress-bar {
  float: left;
  height: 100%;
  font-size: 12px;
  color: #ffffff;
  border: 1px solid #fff;
  text-align: center;
  -webkit-box-shadow: none;
  box-shadow: none;
  -webkit-transition: width 0.6s ease;
  transition: width 0.6s ease;
  position: relative;
}

.social-link {
  a {
    display: inline-block;
    margin-right: 5px;
    i {
      text-align: center;
      color: #aaa;
      font-size: 18px;
      border: 1px solid #e1e1e1;
      border-radius: 4px;
      height: 38px;
      line-height: 36px;
      width: 38px;
      transition: all 0.4s ease-in-out;
      -moz-transition: all 0.4s ease-in-out;
      -webkit-transition: all 0.4s ease-in-out;
    }
  }
  .twitter:hover i {
    color: #00BAFF;
  }
  .facebook:hover i {
    color: #5192CC;
  }
  .google:hover i {
    color: #ED523D;
  }
  .linkedin:hover i {
    color: #1985BC;
  }
  .youtube:hover i {
    color: #D42424;
  }
}

#pagination {
  span, a {
    display: inline-block;
    text-align: center;
    height: 34px;
    width: 34px;
    color: #666;
    line-height: 33px;
    border: 1px solid #eee;
    border-radius: 2px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    -o-border-radius: 2px;
    transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -webkit-transition: all 0.2s ease-in-out;
  }
  span.current {
    color: #fff;
  }
  a:hover {
    border-color: #ddd;
  }
  .all-pages, .next-page {
    width: auto;
    padding: 0 14px;
  }
}

.widget-title {
  font-size: 15px;
  font-weight: 400;
  letter-spacing: 1px;
  margin-bottom: 20px;
  text-transform: uppercase;
  word-spacing: 1px;
}

.right-sidebar {
  padding-left: 20px;
}

#sidebar {
  margin-bottom: 30px;
  .widget {
    border-bottom: 1px solid #eee;
    margin-bottom: 22px;
    padding-bottom: 30px;
    &:last-child {
      border-bottom: none;
    }
  }
  .cat-list li {
    border-bottom: 1px dotted #eee;
    padding: 7px 0;
    a {
      text-decoration: none;
      margin-right: 10px;
      color: #666;
      display: inline-block;
      transition: all 0.2s ease-in-out;
      -moz-transition: all 0.2s ease-in-out;
      -webkit-transition: all 0.2s ease-in-out;
      &:hover {
        color: #aaa;
      }
    }
    .num-posts {
      color: #aaa;
      float: right;
      font-size: 12px;
    }
    &:last-child {
      border: none;
    }
  }
  .posts-list {
    li {
      margin-bottom: 12px;
      padding-bottom: 12px;
      border-bottom: 1px dotted #eee;
      &:last-child {
        margin: 0;
        padding: 0;
        border: none;
      }
    }
    .widget-thumb {
      float: left;
      img {
        opacity: 1;
        max-width: 90px;
        margin: 5px 15px 0 0;
        transition: all 0.2s ease-in-out;
        -moz-transition: all 0.2s ease-in-out;
        -webkit-transition: all 0.2s ease-in-out;
      }
      &:hover img {
        opacity: 0.7;
      }
    }
    .widget-content {
      a {
        text-transform: uppercase;
        font-weight: 400;
        color: #666;
      }
      span {
        color: #999;
        font-size: 12px;
        display: block;
        margin: 3px 0;
      }
    }
  }
  .tag a {
    display: inline-block;
    color: #666;
    font-size: 12px;
    padding: 7px 14px;
    background: #eee;
    margin: 4px 2px;
    border-radius: 2px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    -o-border-radius: 2px;
    text-transform: uppercase;
    transition: all 0.4s ease-in-out;
    -moz-transition: all 0.4s ease-in-out;
    -webkit-transition: all 0.4s ease-in-out;
    i {
      padding-right: 5px;
    }
    &:hover {
      color: #fff;
    }
  }
}

.accordion {
  .panel-title a {
    display: block;
    background: #fff;
    border: 1px solid #e5e5e5;
    font-size: 15px;
    font-weight: 400;
    cursor: pointer;
    padding: 12px 15px 11px;
    box-shadow: none;
    position: relative;
    text-transform: uppercase;
  }
  .cat-menu-list li {
    border-bottom: 1px dotted #e5e5e5;
    padding: 7px 0;
    a {
      color: #666;
      &:hover {
        color: #aaa;
      }
    }
    &:last-child {
      border-bottom: none;
    }
  }
  .panel-default {
    box-shadow: none;
    border: none;
  }
  .panel-title a {
    .control-icon {
      position: absolute;
      top: 50%;
      right: 10px;
      margin-top: -11px;
      transition: all 0.2s ease-in-out;
      -moz-transition: all 0.2s ease-in-out;
      -webkit-transition: all 0.2s ease-in-out;
    }
    &.collapsed .control-icon {
      -webkit-transform: rotate(-180deg);
      -moz-transform: rotate(-180deg);
      -ms-transform: rotate(-180deg);
      -o-transform: rotate(-180deg);
    }
    i {
      font-size: 1.2em;
      padding-right: 5px;
    }
  }
  .panel-body {
    padding: 4px 15px 10px 15px;
    border: 1px solid #e1e1e1;
    border-top: none;
  }
}

.relate-slider {
  text-align: center;
  .portfolio-details {
    margin-top: 20px;
    h4 {
      color: #666;
      font-weight: 400;
    }
  }
}

.widget-search {
  input[type="search"] {
    position: relative;
    margin: 0;
    float: left;
    height: 37px;
    line-height: 37px;
    width: 85%;
    border-right: none;
    border-radius: 2px 0 0 2px;
    -webkit-border-radius: 2px 0 0 2px;
    -moz-border-radius: 2px 0 0 2px;
    -o-border-radius: 2px 0 0 2px;
  }
  .search-btn {
    display: inline-block;
    width: 38px;
    position: absolute;
    height: 37px;
    border: none;
    color: #fff;
    font-size: 1.2em;
    line-height: 36px;
    text-align: center;
    border-radius: 0 2px 2px 0;
    -webkit-border-radius: 0 2px 2px 0;
    -moz-border-radius: 0 2px 2px 0;
    -o-border-radius: 0 2px 2px 0;
    transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -webkit-transition: all 0.2s ease-in-out;
    &:hover {
      background-color: #444;
    }
  }
}

.relate-slider .owl-controls .owl-buttons {
  position: absolute;
  top: -18px;
  right: 2px;
  div {
    height: 22px;
    width: 22px;
    line-height: 22px;
    display: inline-block;
    zoom: 1;
    *display: inline;
    /*IE7 life-saver */
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    -o-border-radius: 2px;
    border-radius: 2px;
    background-color: #fff;
    margin-left: 4px;
    transition: all 0.4s ease-in-out;
    -moz-transition: all 0.4s ease-in-out;
    -webkit-transition: all 0.4s ease-in-out;
    border: 1px solid #ccc;
    i {
      font-size: 1.2em;
      color: #ccc;
      transition: all 0.4s ease-in-out;
      -moz-transition: all 0.4s ease-in-out;
      -webkit-transition: all 0.4s ease-in-out;
    }
  }
}

.single-gallery p {
  margin-bottom: 20px;
}

blockquote {
  padding: 20px 0;
  position: relative;
  margin: 30px 0;
  border-left-color: transparent;
  i {
    font-size: 32px;
    position: absolute;
    margin-top: 10px;
  }
  .quote-text {
    color: #666;
    font-size: 18px;
    line-height: 32px;
    display: block;
    font-style: italic;
    font-weight: 400;
    padding-left: 45px;
  }
}

.thumb-overlay {
  position: absolute;
  background-color: rgba(255, 255, 255, 0.8);
  text-align: center;
  top: 0;
  left: 0;
  z-index: 998;
  bottom: -1px;
  right: 0;
  opacity: 0;
  -webkit-transition: all .4s ease;
  -moz-transition: all .4s ease;
  -ms-transition: all .4s ease;
  transition: all .4s ease;
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -ms-transform: scale(1);
  -o-transform: scale(1);
  transform: scale(1);
  i {
    position: absolute;
    top: 46%;
    left: 0;
    right: 0;
    cursor: pointer;
    visibility: visible;
    width: 48px;
    height: 48px;
    color: #fff;
    font-size: 28px;
    line-height: 48px;
    margin: -20px auto;
    opacity: 0;
    z-index: 99;
    -webkit-transform: scale(0.2);
    -moz-transform: scale(0.2);
    -ms-transform: scale(0.2);
    -o-transform: scale(0.2);
    transform: scale(0.2);
    -webkit-transition: all .4s ease;
    -moz-transition: all .4s ease;
    -ms-transition: all .4s ease;
    transition: all .4s ease;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
  }
  &:hover {
    opacity: 1;
    visibility: visible;
    i {
      opacity: 1;
      visibility: visible;
      -webkit-transform: scale(1);
      -moz-transform: scale(1);
      -ms-transform: scale(1);
      transform: scale(1);
    }
  }
}

.post-tags-list {
  padding-top: 6px;
  a {
    display: inline-block;
    color: #666;
    font-size: 12px;
    padding: 2px 8px;
    background: #eee;
    margin-bottom: 4px;
    border-radius: 2px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    -o-border-radius: 2px;
    transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -webkit-transition: all 0.2s ease-in-out;
    &:hover {
      color: #fff;
    }
  }
}

.comments-title {
  font-weight: 400;
  font-size: 14px;
  margin-bottom: 20px;
}

#comments {
  .comments-list {
    padding: 0;
    margin: 0 0 35px 0;
    li {
      .comment-box {
        background: #Fefefe;
        margin-bottom: 20px;
        border-radius: 4px;
        padding: 22px;
        border: 1px solid #e5e5e5;
      }
      ul {
        padding-left: 80px;
      }
    }
  }
  .avatar {
    padding: 5px;
    background: #fff;
    width: 80px;
    float: left;
    border-radius: 50%;
    height: 80px;
    position: relative;
    border: 1px solid #ddd;
    img {
      border-radius: 50%;
    }
    &:before {
      content: " ";
      width: 0px;
      height: 0px;
      transform: rotate(-7deg);
      position: absolute;
      top: 24px;
      right: -19px;
      border-style: solid;
      border-width: 10px;
      border-color: #E5E5E5 transparent transparent #E5E5E5;
    }
  }
  .comment-content {
    padding-left: 105px;
    .comment-meta {
      margin-bottom: 5px;
    }
    .comment-by {
      font-size: 16px;
      font-weight: 400;
      line-height: 33px;
      text-transform: uppercase;
      &:hover {
        color: #444;
      }
    }
    .comment-date {
      color: #444;
    }
  }
}

.reply-link {
  padding: 4px 16px 5px;
  background: #fff;
  border: 1px solid #ddd;
  color: #aaa;
  border-radius: 4px;
  display: inline-block;
  font-size: 12px;
  margin: 10px 3px 0 0;
  -webkit-transition: all 0.4s ease;
  -moz-transition: all 0.4s ease;
  -ms-transition: all 0.4s ease;
  transition: all 0.4s ease;
}

.respond-title {
  font-weight: 400;
  padding: 15px 0;
  font-size: 14px;
  border-top: 1px dotted #EEE;
}

.project-content {
  h4 {
    margin-bottom: 12px;
    padding-bottom: 8px;
    border-bottom: 1px solid #eee;
    span {
      padding-bottom: 8px;
      border-bottom: 1px solid;
    }
  }
  p {
    margin-bottom: 30px;
  }
  .share {
    margin-top: 20px;
    font-size: 14px;
    span {
      margin-right: 10px;
    }
  }
}

.project {
  margin-top: 50px;
}

.recent-projects h4.title {
  margin-bottom: 16px;
  padding-bottom: 8px;
  border-bottom: 1px solid #eee;
  span {
    padding-bottom: 8px;
  }
}

.projects-carousel {
  width: 1150px !important;
  .item {
    margin-right: 15px;
    margin-bottom: 0;
  }
}

.main-desc {
  margin-bottom: 30px;
  p {
    font-size: 26px;
    font-weight: 400;
    line-height: 36px;
  }
}

.service-icon-left-more {
  text-align: center;
  .service-icon {
    float: none;
  }
  .service-content {
    padding: 25px;
  }
  &:hover i {
    color: #ee3733;
  }
}

.recent-projects i.more {
  border-radius: 50% !important;
  font-size: 14px;
}

.portfolio-border {
  padding: 3px;
  border: 1px solid #f1f1f1;
  .portfolio-details {
    background: #f1f1f1;
    padding: 10px;
    h4 {
      color: #444;
      margin-top: 8px;
    }
  }
  &:hover {
    .overlay {
      opacity: 1;
      visibility: visible;
    }
    img {
      -webkit-transform: scale(1.4);
      -moz-transform: scale(1.4);
      -ms-transform: scale(1.4);
      transform: scale(1.4);
    }
    .more {
      opacity: 1;
      visibility: visible;
      -webkit-transform: scale(1);
      -moz-transform: scale(1);
      -ms-transform: scale(1);
      transform: scale(1);
    }
  }
}

.service-circle {
  text-align: center;
  .service-icon {
    float: none;
    i {
      background: #FBFBFB;
      font-size: 24px;
      width: 64px;
      line-height: 64px;
      height: 64px;
      border-radius: 50%;
      transition: all 0.3s ease;
      -moz-transition: all 0.3s ease;
      -webkit-transition: all 0.3s ease;
      -ms-transition: all 0.3s ease;
    }
  }
  .service-content {
    text-align: center;
    padding: 18px;
  }
}

.icon-large-effect {
  position: relative;
  display: block;
  z-index: 1;
  font-size: 2.6em;
  color: #fff;
  width: 48px;
  height: 48px;
  line-height: 48px;
  text-align: center;
  margin: 0;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -o-border-radius: 50%;
  transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
  -webkit-transition: all 0.4s ease-in-out;
}

.icon-mini-effect:after, .icon-large-effect:after {
  pointer-events: none;
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -o-border-radius: 50%;
  content: '';
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
}

.title1 {
  font-size: 24px;
  font-weight: 400;
  margin: 0 0 13px;
  i {
    font-size: 24px;
    padding-right: 5px;
  }
}

.upper {
  text-transform: uppercase;
}

.form-control {
  height: 40px;
  background: #FFF;
  border: 1px solid #DDD;
  font-size: 13px;
  outline: medium none;
  color: #324545;
  margin: 15px 0;
  padding: 10px 12px;
  box-shadow: none;
}

textarea {
  background: #FFF;
  border: 1px solid #DDD;
  font-size: 13px;
  outline: medium none;
  color: #324545;
  margin: 15px 0;
  padding: 10px 12px;
  box-shadow: none;
}

.form-control:focus, textarea:focus {
  box-shadow: none;
}

.contact-form {
  select {
    padding: 9px;
  }
  .orderby {
    position: relative;
    select {
      width: 100%;
      border: 1px solid #DDD;
      border-radius: 4px;
      outline: none;
      color: #324545;
      margin: 15px 0;
      padding: 10px 12px;
      height: 40px;
    }
    &:before {
      content: "\f107";
      font-family: FontAwesome;
      display: block;
      position: absolute;
      line-height: 40px;
      top: 15px;
      background: #FFF none repeat scroll 0% 0%;
      right: 1px;
      width: 40px;
      max-height: 40px;
      text-align: center;
      pointer-events: none;
      font-size: 16px;
      height: 100%;
      border-left: 1px solid #DDD;
      border-top: 1px solid #DDD;
      border-bottom: 1px solid #ddd;
      border-top-right-radius: 4px;
      border-bottom-right-radius: 4px;
    }
  }
}

.information {
  margin-top: 15px;
}

.contact-datails {
  margin-bottom: 34px;
  min-height: 75px;
  position: relative;
  .info {
    padding-left: 90px;
    h3 {
      font-size: 16px;
      display: block;
      margin-bottom: 8px;
      text-transform: uppercase;
    }
    .datail {
      display: block;
    }
  }
}

.title-banner {
  position: relative;
  padding: 40px;
  color: #fff;
  h2 {
    font-size: 30px;
  }
}

#google-map, body, html {
  padding: 0;
  height: 400px;
}

.owl-carousel {
  .owl-wrapper {
    &:after {
      content: ".";
      display: block;
      clear: both;
      visibility: hidden;
      line-height: 0;
      height: 0;
    }
    display: none;
    position: relative;
    -webkit-transform: translate3d(0px, 0px, 0px);
  }
  display: none;
  position: relative;
  width: 100%;
  -ms-touch-action: pan-y;
  .owl-wrapper-outer {
    overflow: hidden;
    position: relative;
    width: 100%;
    &.autoHeight {
      -webkit-transition: height 500ms ease-in-out;
      -moz-transition: height 500ms ease-in-out;
      -ms-transition: height 500ms ease-in-out;
      transition: height 500ms ease-in-out;
    }
  }
  .owl-item {
    float: left;
  }
}

.owl-controls {
  .owl-page, .owl-buttons div {
    cursor: pointer;
  }
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

/* mouse grab icon */

.grabbing {
  cursor: url(../images/icons/grabbing.png) 8 8, move;
}

/* fix */

.owl-carousel {
  .owl-wrapper, .owl-item {
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -ms-backface-visibility: hidden;
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
  }
}

.owl-origin {
  -webkit-perspective: 1200px;
  -webkit-perspective-origin-x: 50%;
  -webkit-perspective-origin-y: 50%;
  -moz-perspective: 1200px;
  -moz-perspective-origin-x: 50%;
  -moz-perspective-origin-y: 50%;
  perspective: 1200px;
}

.owl-fade-out {
  z-index: 10;
  -webkit-animation: fadeOut .7s both ease;
  -moz-animation: fadeOut .7s both ease;
  animation: fadeOut .7s both ease;
}

.owl-fade-in {
  -webkit-animation: fadeIn .7s both ease;
  -moz-animation: fadeIn .7s both ease;
  animation: fadeIn .7s both ease;
}

.owl-backSlide-out {
  -webkit-animation: backSlideOut 1s both ease;
  -moz-animation: backSlideOut 1s both ease;
  animation: backSlideOut 1s both ease;
}

.owl-backSlide-in {
  -webkit-animation: backSlideIn 1s both ease;
  -moz-animation: backSlideIn 1s both ease;
  animation: backSlideIn 1s both ease;
}

.owl-goDown-out {
  -webkit-animation: scaleToFade .7s ease both;
  -moz-animation: scaleToFade .7s ease both;
  animation: scaleToFade .7s ease both;
}

.owl-goDown-in {
  -webkit-animation: goDown .6s ease both;
  -moz-animation: goDown .6s ease both;
  animation: goDown .6s ease both;
}

.owl-fadeUp-in {
  -webkit-animation: scaleUpFrom .5s ease both;
  -moz-animation: scaleUpFrom .5s ease both;
  animation: scaleUpFrom .5s ease both;
}

.owl-fadeUp-out {
  -webkit-animation: scaleUpTo .5s ease both;
  -moz-animation: scaleUpTo .5s ease both;
  animation: scaleUpTo .5s ease both;
}

@-webkit-keyframes empty {
  0% {
    opacity: 1;
  }
}


@-moz-keyframes empty {
  0% {
    opacity: 1;
  }
}


@keyframes empty {
  0% {
    opacity: 1;
  }
}


@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}


@-moz-keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}


@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}


@-webkit-keyframes fadeOut {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}


@-moz-keyframes fadeOut {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}


@keyframes fadeOut {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}


@-webkit-keyframes backSlideOut {
  25% {
    opacity: .5;
    -webkit-transform: translateZ(-500px);
  }

  75% {
    opacity: .5;
    -webkit-transform: translateZ(-500px) translateX(-200%);
  }

  100% {
    opacity: .5;
    -webkit-transform: translateZ(-500px) translateX(-200%);
  }
}


@-moz-keyframes backSlideOut {
  25% {
    opacity: .5;
    -moz-transform: translateZ(-500px);
  }

  75% {
    opacity: .5;
    -moz-transform: translateZ(-500px) translateX(-200%);
  }

  100% {
    opacity: .5;
    -moz-transform: translateZ(-500px) translateX(-200%);
  }
}


@keyframes backSlideOut {
  25% {
    opacity: .5;
    transform: translateZ(-500px);
  }

  75% {
    opacity: .5;
    transform: translateZ(-500px) translateX(-200%);
  }

  100% {
    opacity: .5;
    transform: translateZ(-500px) translateX(-200%);
  }
}


@-webkit-keyframes backSlideIn {
  0%,
  25% {
    opacity: .5;
    -webkit-transform: translateZ(-500px) translateX(200%);
  }

  75% {
    opacity: .5;
    -webkit-transform: translateZ(-500px);
  }

  100% {
    opacity: 1;
    -webkit-transform: translateZ(0) translateX(0);
  }
}


@-moz-keyframes backSlideIn {
  0%,
  25% {
    opacity: .5;
    -moz-transform: translateZ(-500px) translateX(200%);
  }

  75% {
    opacity: .5;
    -moz-transform: translateZ(-500px);
  }

  100% {
    opacity: 1;
    -moz-transform: translateZ(0) translateX(0);
  }
}


@keyframes backSlideIn {
  0%,
  25% {
    opacity: .5;
    transform: translateZ(-500px) translateX(200%);
  }

  75% {
    opacity: .5;
    transform: translateZ(-500px);
  }

  100% {
    opacity: 1;
    transform: translateZ(0) translateX(0);
  }
}


@-webkit-keyframes scaleToFade {
  to {
    opacity: 0;
    -webkit-transform: scale(0.8);
  }
}


@-moz-keyframes scaleToFade {
  to {
    opacity: 0;
    -moz-transform: scale(0.8);
  }
}


@keyframes scaleToFade {
  to {
    opacity: 0;
    transform: scale(0.8);
  }
}


@-webkit-keyframes goDown {
  from {
    -webkit-transform: translateY(-100%);
  }
}


@-moz-keyframes goDown {
  from {
    -moz-transform: translateY(-100%);
  }
}


@keyframes goDown {
  from {
    transform: translateY(-100%);
  }
}


@-webkit-keyframes scaleUpFrom {
  from {
    opacity: 0;
    -webkit-transform: scale(1.5);
  }
}


@-moz-keyframes scaleUpFrom {
  from {
    opacity: 0;
    -moz-transform: scale(1.5);
  }
}


@keyframes scaleUpFrom {
  from {
    opacity: 0;
    transform: scale(1.5);
  }
}


@-webkit-keyframes scaleUpTo {
  to {
    opacity: 0;
    -webkit-transform: scale(1.5);
  }
}


@-moz-keyframes scaleUpTo {
  to {
    opacity: 0;
    -moz-transform: scale(1.5);
  }
}


@keyframes scaleUpTo {
  to {
    opacity: 0;
    transform: scale(1.5);
  }
}


.owl-theme .owl-controls {
  text-align: center;
}

.touch-slider {
  .owl-controls .owl-buttons div {
    position: absolute;
    top: 50%;
    height: 40px;
    width: 40px;
    line-height: 45px;
    display: inline-block;
    zoom: 1;
    opacity: 0;
    *display: inline;
    /*IE7 life-saver */
    background: #fff;
    filter: alpha(opacity = 60);
    /*IE7 fix*/
    margin-top: -30px;
    transition: all 0.4s ease-in-out;
    -moz-transition: all 0.4s ease-in-out;
    -webkit-transition: all 0.4s ease-in-out;
  }
  &:hover .owl-controls .owl-buttons div {
    filter: alpha(opacity = 100);
    /*IE7 fix*/
    opacity: 1;
  }
  .owl-controls .owl-buttons div.owl-prev {
    left: 0;
  }
  &:hover .owl-controls .owl-buttons div.owl-prev {
    margin-left: 15px;
  }
  .owl-controls .owl-buttons div.owl-next {
    right: 0;
  }
  &:hover .owl-controls .owl-buttons div.owl-next {
    margin-right: 15px;
  }
  .owl-controls .owl-buttons div i {
    font-size: 1.8em;
  }
}

.touch-carousel {
  .owl-controls .owl-buttons {
    position: absolute;
    top: -50px;
    right: 2px;
  }
  &.projects-carousel .owl-controls .owl-buttons {
    right: 12px;
  }
}

.projects-carousel .owl-controls .owl-buttons {
  right: 9px;
}

.owl-pagination {
  position: absolute;
  width: 100%;
  left: 0;
  bottom: 5px;
}

.owl-theme .owl-controls .owl-page {
  display: inline-block;
  zoom: 1;
  *display: inline;
  /*IE7 life-saver */
  span {
    display: block;
    width: 12px;
    height: 12px;
    margin: 2px 4px;
    filter: alpha(opacity = 50);
    /*IE7 fix*/
    opacity: 1;
    border-radius: 50%;
    background: #fff;
    border: 3px solid #fff;
    box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.2);
    transition: all 0.4s ease-in-out;
    -moz-transition: all 0.4s ease-in-out;
    -webkit-transition: all 0.4s ease-in-out;
  }
}

.touch-slider:hover .owl-controls .owl-page span {
  filter: alpha(opacity = 100);
  /*IE7 fix*/
  opacity: 1;
}

.owl-theme .owl-controls .owl-page span.owl-numbers {
  height: auto;
  width: auto;
  color: #FFF;
  padding: 2px 10px;
  font-size: 12px;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  -o-border-radius: 30px;
  border-radius: 30px;
}

.touch-carousel {
  .owl-controls .owl-buttons {
    position: absolute;
    top: -50px;
    right: 2px;
  }
  &.projects-carousel .owl-controls .owl-buttons {
    right: 12px;
  }
  &.navigation-2 {
    .owl-controls .owl-buttons {
      position: relative;
      top: 0;
      right: 0;
    }
    &.clients-carousel .owl-controls .owl-buttons {
      top: -8px;
    }
    .owl-controls .owl-buttons div {
      background-color: #f2f2f2;
    }
  }
  &.navigation-3 .owl-controls .owl-buttons div {
    background-color: #f2f2f2;
  }
  &.navigation-2 .owl-controls .owl-buttons div i {
    color: #666;
  }
  &.navigation-3 {
    .owl-controls .owl-buttons div i {
      color: #666;
    }
    padding-top: 45px;
    &.clients-carousel {
      padding-top: 25px;
    }
    .owl-controls .owl-buttons {
      position: absolute;
      top: 0;
      right: 0;
      width: 100%;
    }
  }
  &.navigation-2 .owl-controls .owl-buttons div {
    width: 28px;
    height: 28px;
    line-height: 28px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -o-border-radius: 50%;
  }
  &.navigation-3 {
    .owl-controls .owl-buttons div {
      width: 28px;
      height: 28px;
      line-height: 28px;
      border-radius: 50%;
      -webkit-border-radius: 50%;
      -moz-border-radius: 50%;
      -o-border-radius: 50%;
    }
    &.projects-carousel .owl-controls .owl-buttons {
      right: 9px;
    }
  }
  .owl-controls .owl-buttons div {
    height: 22px;
    width: 22px;
    line-height: 22px;
    display: inline-block;
    zoom: 1;
    *display: inline;
    /*IE7 life-saver */
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    -o-border-radius: 2px;
    border-radius: 2px;
    background-color: #fff;
    margin-left: 4px;
    transition: all 0.4s ease-in-out;
    -moz-transition: all 0.4s ease-in-out;
    -webkit-transition: all 0.4s ease-in-out;
    border: 1px solid #ccc;
  }
}

.testimonials-carousel .owl-controls .owl-buttons div {
  height: 22px;
  width: 22px;
  line-height: 22px;
  display: inline-block;
  zoom: 1;
  *display: inline;
  /*IE7 life-saver */
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -o-border-radius: 2px;
  border-radius: 2px;
  background-color: #fff;
  margin-left: 4px;
  transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
  -webkit-transition: all 0.4s ease-in-out;
  border: 1px solid #ccc;
}

.touch-carousel .owl-controls .owl-buttons div i, .testimonials-carousel .owl-controls .owl-buttons div i {
  font-size: 1.2em;
  color: #ccc;
  transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
  -webkit-transition: all 0.4s ease-in-out;
}

.tab-title {
  margin-bottom: 20px;
  font-size: 22px;
}

.nav-tabs > li {
  > a {
    margin-right: 0;
    border: 1px solid #e5e5e5;
    color: #666;
    margin-right: -1px;
    border-radius: 0;
  }
  &.active > a {
    background: #fff;
    &:focus {
      background: #fff;
    }
  }
  > a:hover {
    background: #fff;
  }
}

.tab-content {
  border: 1px solid #e5e5e5;
  border-top: none;
  padding: 12px 16px;
  p {
    margin-bottom: 15px;
    &:last-child {
      margin-bottom: 0;
    }
  }
}

.tabs-2 {
  .nav-tabs > li {
    > a:hover {
      color: #fff;
      -webkit-transition: all 0.4s ease;
      -moz-transition: all 0.4s ease;
      transition: all 0.4s ease;
    }
    &.active > a {
      color: #fff;
      &:focus, &:hover {
        color: #fff;
      }
    }
  }
  .tab-content {
    border: 1px solid #e5e5e5;
    border-top: none;
    padding: 12px 16px;
  }
}

.vertical {
  border: 1px solid #e5e5e5;
  .nav-tabs {
    float: left;
    width: 20%;
    clear: none;
    margin-left: -1px;
    margin-top: -1px;
    li {
      float: none;
      a {
        border: 1px solid #e5e5e5;
        color: #666;
        margin-right: -1px;
        border-radius: 0;
      }
    }
    > li.active > a {
      background: #fff;
      border-color: #ddd transparent #ddd #ddd;
      &:focus {
        background: #fff;
        border-color: #ddd transparent #ddd #ddd;
      }
    }
  }
  .tab-content {
    clear: none;
    border: none;
    border-top: none;
    margin-left: 227px;
    border-left: 1px solid #e5e5e5;
  }
}

.medium-spacer .small-title {
  margin-bottom: 15px 0;
}

.buttons .btn {
  margin: 5px 0;
}

.pr-10 {
  padding-right: 10px;
}

.pl-10 {
  padding-left: 10px;
}

.btn-default {
  background-color: #E84C3D;
  color: #fff !important;
  border-color: #CD3C2E;
  &:hover {
    background-color: #CD3C2E;
  }
}

.btn-sm {
  padding: 8px;
  font-size: 12px;
  min-width: 105px;
}

.alert-info {
  color: #1a4e68;
  background-color: #c6e8fa;
}

.alert {
  margin: 20px 0px;
  border-radius: 0px;
  position: relative;
  padding-left: 70px;
  overflow: hidden;
  z-index: 1;
  border: none;
  &:before {
    position: absolute;
    content: "";
    top: 0px;
    left: 0px;
    width: 50px;
    height: 101%;
    background-color: rgba(0, 0, 0, 0.25);
    z-index: 2;
  }
  strong {
    font-weight: bold;
  }
}

.btn-white {
  background-color: transparent;
  color: #cd3c2e;
  border: 1px solid #e84c3d;
  &:hover, &:focus, &:active {
    color: #ffffff;
    background-color: #cd3c2e;
    border-color: #cd3c2e;
  }
}

.btn-light-gray {
  color: #333;
  background-color: #fafafa;
  border-color: #f3f3f3;
  &:hover, &:focus, &:active {
    color: #ffffff;
    background-color: #E84C3D;
    border-color: #E84C3D;
  }
}

.btn-gray {
  color: #ffffff;
  background-color: #666;
  border: #666;
  &:hover, &:focus, &:active {
    color: #ffffff;
    background-color: #E84C3D;
    border-color: #E84C3D;
  }
}

.btn-dark {
  color: #f1f1f1;
  background-color: #333;
  border-color: #333;
  &:hover, &:focus, &:active {
    color: #ffffff;
    background-color: #666;
    border-color: #666;
  }
}

.call-action-boxed {
  padding: 30px 40px;
  margin-top: 60px;
}

.call-action {
  &.no-descripton h2.primary {
    margin-top: 25px;
  }
  h2.primary {
    font-weight: 400;
    margin-top: 25px;
    font-size: 22px;
    line-height: 28px;
    strong {
      font-weight: 700;
    }
  }
  p {
    font-size: 14px;
    margin-bottom: 0;
  }
  h2 + p {
    margin-top: 4px;
  }
  .button-side {
    float: right;
  }
}

.call-action-style1 {
  margin-bottom: 60px;
  border: 1px solid #E8E8E8;
  background: #f1f1f1;
}

.call-action-style2 {
  background: #f2f2f2;
}

.call-action-style3 {
  background: #444;
  h2.primary {
    color: #fff;
    margin-top: 25px;
  }
  p {
    color: #bbb;
  }
}

.testimonials {
  background: #F9FAFC;
  padding: 80px 0;
}

.testimonial-item {
  height: 210px;
  margin: 0px 15px;
  .img {
    padding: 5px;
    background: #FFF;
    width: 80px;
    float: left;
    border-radius: 50%;
    height: 80px;
    position: relative;
    border: 1px solid #DDD;
    img {
      border-radius: 50%;
    }
  }
  .datils {
    background: #F1F1F1;
    padding: 20px;
    width: 80%;
    float: right;
    border: 1px solid #e5e5e5;
    position: relative;
    h5 {
      font-weight: 400;
      font-size: 18px;
      margin-bottom: 12px;
    }
    &:before {
      content: "";
      position: absolute;
      width: 14px;
      left: -32px;
      top: 24px;
      border-width: 16px;
      border-style: solid;
      border-color: transparent #F1F1F1 transparent transparent;
    }
  }
  .owl-pagination {
    position: absolute;
    width: 100%;
    left: 0px;
    bottom: -15px;
  }
}

.testimonial-2 {
  padding: 80px 0;
  .owl-pagination {
    position: absolute;
    width: 100%;
    left: 0px;
    bottom: -15px;
  }
}

.testimonial-item-2 {
  height: 110px;
  margin: 0px 15px;
  .img {
    padding: 5px;
    background: #FFF;
    width: 80px;
    border-radius: 50%;
    float: left;
    height: 80px;
    position: relative;
    border: 1px solid #DDD;
    img {
      border-radius: 50%;
    }
  }
  .datils {
    width: 80%;
    float: right;
    position: relative;
    h5 {
      font-weight: 400;
      font-size: 18px;
      margin-bottom: 12px;
    }
  }
  .owl-pagination {
    bottom: -15px;
  }
}

.pricing-tables {
  padding: 25px 0;
  text-align: center;
  .pricing-table {
    border: 1px solid #eee;
    text-align: center;
    position: relative;
    background-color: #fff;
    transition: all 0.4s ease-in-out;
    -moz-transition: all 0.4s ease-in-out;
    -webkit-transition: all 0.4s ease-in-out;
    .plan-name {
      padding: 40px 0;
      border-bottom: 1px solid #eee;
      h3 {
        font-weight: 700;
        font-size: 24px;
        color: #fff;
        text-transform: uppercase;
      }
    }
    .plan-price {
      padding: 25px 0;
    }
    .price-value {
      font-size: 38px;
      line-height: 40px;
      font-weight: 700;
      color: #666;
      span {
        font-size: 18px;
        font-weight: 400;
        line-height: 18px;
      }
    }
    .interval {
      line-height: 14px;
    }
    .plan-list {
      padding: 0px 15px;
      li {
        padding: 8px;
        font-size: 12px;
        border-bottom: 1px dotted #eee;
        &:first-child {
          border-top: 1px dotted #eee;
        }
      }
    }
    &:hover {
      z-index: 2;
      top: -3px;
      box-shadow: 0 0 8px rgba(0, 0, 0, 0.1);
      -moz-box-shadow: 0 0 8px rgba(0, 0, 0, 0.1);
      -webkit-box-shadow: 0 0 8px rgba(0, 0, 0, 0.1);
      -o-box-shadow: 0 0 8px rgba(0, 0, 0, 0.1);
    }
  }
  .plan-signup {
    padding: 30px 0;
  }
}

.highlight-plan {
  margin: -15px 0;
  margin-right: -1px;
  z-index: 1;
  .plan-name {
    padding: 25px 0;
  }
  .plan-signup {
    padding: 30px 0;
  }
}