/*You can add your won color also */
@media (min-width: 768px) and (max-width: 991px) {
  .heading .big-title {
    font-size: 20px;
  }
  .full-search {
    height: 74px;
  }
  ul.social-list li a i {
    width: 30px;
    height: 30px;
    line-height: 30px;
  }
  .navbar-brand {
    padding: 20px 0;
  }
  .navbar-default .navbar-nav > li > a {
    padding: 7px 12px;
  }
  .fittext {
    font-size: 24px;
  }
  .controls li {
    padding: 8px;
    font-size: 12px;
  }
  .tema-member {
    margin: 24px 0;
  }
  .tab-title {
    font-size: 18px;
  }
  .vertical {
    .nav-tabs {
      width: 26%;
    }
    .tab-content {
      margin-left: 186px;
    }
  }
  .call-action h2.primary {
    font-size: 18px;
  }
  .testimonial-item {
    height: 320px;
    .datils {
      width: 68%;
    }
  }
  .testimonial-item-2 {
    height: 144px;
    .datils {
      width: 68%;
    }
  }
  .blog-item .blog-content {
    padding: 0px 150px;
    top: 35%;
  }
  .classic-title {
    margin-top: 30px;
  }
  #sidebar {
    margin-top: 30px;
    .widget {
      padding-bottom: 65px;
    }
  }
  .contact-form {
    margin-bottom: 30px;
  }
}

@media (max-width: 767px) {
  html {
    font-size: 80%;
  }
  .heading .big-title {
    font-size: 20px;
  }
  ul.social-list {
    float: none;
  }
  .navbar-brand {
    padding: 15px;
    position: absolute;
    top: 0;
  }
  .dropdown li a, .sup-dropdown li a {
    border-radius: 0px;
    padding: 11px 30px;
  }
  .fittext {
    font-size: 20px;
  }
  .controls li {
    padding: 3px;
    font-size: 11px;
    margin: 9px 5px;
  }
  .tema-member {
    margin: 24px 0;
  }
  .blog-item .blog-content {
    padding: 0px 150px;
    top: 35%;
  }
  .copyright-section ul.footer-nav {
    float: none;
  }
  .page-banner h2 {
    text-align: center;
  }
  .breadcrumbs {
    float: none;
    text-align: center;
    margin-top: 15px;
  }
  .classic-title {
    margin-top: 30px;
  }
  .tab-title {
    font-size: 18px;
  }
  .vertical {
    .nav-tabs {
      width: 30%;
    }
    .tab-content {
      margin-left: 181px;
    }
  }
  .call-action h2.primary {
    font-size: 16px;
  }
  .testimonial-item {
    height: 320px;
    .datils {
      width: 68%;
    }
  }
  .testimonial-item-2 {
    height: 144px;
    .datils {
      width: 68%;
    }
  }
  .owl-pagination {
    display: none;
  }
  .pricing-tables .pricing-table {
    margin-bottom: 60px;
  }
  #sidebar {
    margin-top: 30px;
    .widget {
      padding-bottom: 65px;
    }
  }
  .contact-form {
    margin-bottom: 30px;
  }
}

@media (max-width: 568px) {
  .big-title {
    font-size: 18px;
  }
  h3 {
    font-size: 15px;
  }
  .section {
    padding-top: 40px;
    padding-bottom: 40px;
  }
  .heading .big-title {
    font-size: 18px;
  }
  .social-list {
    text-align: center;
  }
  .search-side {
    display: none;
  }
  .navbar-brand {
    padding: 15px;
  }
  .dropdown li a, .sup-dropdown li a {
    border-radius: 0px;
    padding: 11px 30px;
  }
  .fittext {
    font-size: 14px;
  }
  .controls li {
    margin: 5px;
    padding: 10px 8px;
  }
  .tema-member {
    margin: 40px 0;
  }
  .blog-item .blog-content {
    padding: 0px 50px;
    top: 22%;
  }
  .copyright-section ul.footer-nav {
    float: none;
  }
}

@media (max-width: 480px) {
  .big-title {
    font-size: 18px;
  }
  h3 {
    font-size: 15px;
  }
  .section {
    padding-top: 40px;
    padding-bottom: 40px;
  }
  .heading .big-title {
    font-size: 18px;
  }
  .social-list {
    text-align: center;
  }
  .search-side {
    display: none;
  }
  .navbar-brand {
    padding: 15px;
  }
  .dropdown li a, .sup-dropdown li a {
    border-radius: 0px;
    padding: 11px 30px;
  }
  .fittext {
    font-size: 14px;
  }
  .controls li {
    margin: 5px;
    padding: 10px 8px;
  }
  .tema-member {
    margin: 40px 0;
  }
  .blog-item .blog-content {
    padding: 0px 50px;
    top: 7%;
    h3 {
      font-size: 12px;
    }
    a {
      font-size: 11px;
    }
    .body {
      font-size: 11px;
      line-height: 22px;
      margin-bottom: 14px;
    }
  }
  .page-banner h2 {
    text-align: center;
  }
  .breadcrumbs {
    float: none;
    text-align: center;
    margin-top: 15px;
  }
  .classic-title {
    margin-top: 30px;
  }
  .error-page h1 {
    font-size: 150px;
    margin: 80px 0;
  }
  #content {
    padding: 30px 0;
  }
  .nav-tabs > li {
    float: none;
  }
  .vertical {
    .nav-tabs {
      width: 100%;
    }
    .tab-content {
      margin-left: 0;
    }
  }
  .call-action {
    text-align: center;
    h2.primary {
      font-size: 18px;
    }
  }
  .call-action-style1 {
    margin-bottom: 0;
  }
  .testimonial-item {
    height: 320px;
    .datils {
      width: 68%;
    }
  }
  .testimonial-item-2 {
    height: 144px;
    .datils {
      width: 68%;
    }
  }
  .pricing-tables .pricing-table {
    margin-bottom: 60px;
  }
  .post-title {
    font-size: 14px;
  }
  .social-link {
    margin-bottom: 30px;
    a {
      margin-right: 0px;
    }
  }
  .blog-post .share span {
    margin-right: 4px;
    font-size: 14px;
  }
  .pull-right {
    float: none !important;
    display: inline-block;
  }
  .quote-post .feature-inner p {
    font-size: 14px;
    line-height: 22px;
  }
  #sidebar {
    margin-top: 30px;
  }
  blockquote .quote-text {
    font-size: 14px;
    line-height: 24px;
  }
  #comments .comments-list li ul {
    padding-left: 0px;
  }
  .contact-form {
    margin-bottom: 30px;
  }
  .contact-datails .info h3 {
    font-size: 14px;
  }
  .title-banner h2 {
    font-size: 24px;
  }
  .title1 {
    font-size: 15px;
    i {
      font-size: 15px;
    }
  }
}

@media (min-width: 1480px) and (max-width: 1920px) {
  .blog-item .blog-content {
    top: 30%;
  }
}