---
title: Default layout
is_layout: false
---
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>{{ site.name }}</title>

    <link rel="shortcut icon" href="{{ 'favicon.png' | theme_image_url }}">

    {{ 'bootstrap.css' | stylesheet_tag }}
    {{ 'application.css' | stylesheet_tag }}
    {{ 'main.css' | stylesheet_tag }}
    {{ 'responsive.css' | stylesheet_tag }}
   
  </head>
  <body>
    <div class="hidden-header"></div>
    <header id="header" class="clearfix">
      {% include 'top-bar' %}
      {% include 'nav' %}
    </header>
    {% if page.slug != 'index' %}
      {% include 'breadcrumb' %}
    {% endif %}
    {% block content %}
    {% endblock %}

    {% include 'footer' %}

    {{ 'jquery.min.js' | javascript_tag }}
    {{ 'modernizrr.js' | javascript_tag }}
    {{ 'bootstrap.min.js' | javascript_tag }}
    {{ 'owl.carousel.min.js' | javascript_tag }}
    {{ 'nivo-lightbox.min.js' | javascript_tag }}
    {{ 'jquery.mixitup.min.js' | javascript_tag }}
    {{ 'jquery.appear.js' | javascript_tag }}
    {{ 'count-to.js' | javascript_tag }}
    {{ 'jquery.parallax.js' | javascript_tag }}
    {{ 'smooth-scroll.js' | javascript_tag }}
    {{ 'jquery.slicknav.js' | javascript_tag }}
    {{ 'jquery.themepunch.revolution.min.js' | javascript_tag }}
    {{ 'jquery.themepunch.tools.min.js' | javascript_tag }}
    {{ 'application.js' | javascript_tag }}
  </body>
</html>
