---
title: Simple
is_layout: true
---
{% extends 'layouts/default' %}

{% block content %}

{% block header, short_name: true, priority: 1 %}

<!-- Main Slider Section -->
    {% include 'slider' %}
<!-- Main Slider Section End-->
{% endblock %}

<!-- Servide Section -->
    {% include 'service' %}
<!-- Service Section End-->

<!-- Portfolio Section -->
{% include 'portfolio' %}
<!-- Portfolio Section End-->

<!-- Member Section -->
{% include 'member' %}
<!-- Member Section End-->

<!-- Counter Section -->
{% include 'counter' %}
<!-- Counter Section End-->

<!-- Client Section -->
{% include 'client' %}
<!-- Client Section End-->

<div class="container">
  {% block main, short_name: true %}
    <div class="row">
      <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
        {% editable_text body %}
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Saepe nostrum ullam eveniet pariatur voluptates odit, fuga atque ea nobis sit soluta odio, adipisci quas excepturi maxime quae totam ducimus consectetur?
          </p>

          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eius praesentium recusandae illo eaque architecto error, repellendus iusto reprehenderit, doloribus, minus sunt. Numquam at quae voluptatum in officia voluptas voluptatibus, minus!
          </p>
        {% endeditable_text %}
      </div>
    </div>
  {% endblock %}
</div>

{% endblock %}
