title: Jobs

listed: true

published: true

{% extends 'layouts/simple' %}

{% block content/main, short_name: true %}

{% editable_model jobs %}
<div class="container">
  <div class="row">
    {% for job in contents.jobs %}
    <div class="col-sm-9">

      <div class="blog-post">
        <!-- Post format icon -->
        <div class="post-format">
          <span>
            <a href="#"><i class="icon-moustache"></i></a>
          </span>
        </div>
        <!-- Post feature-inner -->
        <div class="feature-inner">
          <div class="item">
            <a class="lightbox" href="assets/img/blog/blog1-large.jpg"><img class="media-object" src="{{ job.media.url | default: 'http://loremflickr.com/1170/600' }}" alt="{{ jpb.title }}"></a>
          </div>
        </div>
        <!-- End Post feature-inner -->
        
        <!-- Post Content -->
        <div class="post-content">
          <div class="meta">
            <span class="meta-part"><a href="#"><i class="icon-clock"></i> {{ job.due_date | localized_date: '%b %d, %Y' }}</a></span>
            <span class="meta-part"><i class="icon-folder"></i> <a href="#">Photography</a>, <a href="#">Tutorials</a></span>
            <span class="meta-part"><a href="#"><i class="icon-star"></i> {{ job.salary }}</a></span>
          </div>   
          <h3 class="post-title"><a href="{% path_to job %}">{{ job.title }}</a></h3>
          <p>{{ job.description }}</p>
        </div>
        <!-- Post Content -->

        <!-- Share social -->
        <div class="share">
          <div class="social-link pull-left"> 
            <span>Share This article</span>   
            <a class="twitter" target="_blank" data-original-title="twitter" href="#" data-toggle="tooltip" data-placement="top"><i class="fa fa-twitter"></i></a>
            <a class="facebook" target="_blank" data-original-title="facebook" href="#" data-toggle="tooltip" data-placement="top"><i class="fa fa-facebook"></i></a>
            <a class="google" target="_blank" data-original-title="google-plus" href="#" data-toggle="tooltip" data-placement="top"><i class="fa fa-google-plus"></i></a>
            <a class="linkedin" target="_blank" data-original-title="linkedin" href="#" data-toggle="tooltip" data-placement="top"><i class="fa fa-linkedin"></i></a>
          </div>
          <div class="pull-right">
            <a class="btn btn-effect" href="{% path_to job %}">Continue Reading <i class="fa fa-angle-right"></i></a>
          </div>
        </div>

      </div>
      <!-- End Post -->
    </div>
    {% endfor %}
  </div>
</div>
{% endeditable_model %}

{% endblock %}