---
title: News

# true if the page is included in the menu
listed: true

# true if the page is published
published: true

# true if the page can be used as a layout for new pages created by the editors
# is_layout: true

# position among sibling pages
# position: 1

# sets a redirection to the given url (301)
# redirect_url: "<url to a page or to a remote url>"

# other unique identifier of this page. To be used with the path_to liquid tag.
# handle: my-page-handle

# content type that this page is templatizing
# content_type: "<slug of one of the content types>"


# editable_elements:
#   'some_block/some_slug': "<text>"
#   'some_block/some_slug': "<relative path to the file under the public/samples folder>"

# Control the display of the page in the back-office.
# display_settings:
#   hidden: true          # hidden for authors?
---
{% extends parent %}
{% extends 'layouts/simple' %}

{% block content/main, short_name: true %}

{% editable_model posts %}
    <div class="container">
      <div class="row">
        <div class="col-md-9">
          {% for post in contents.posts %}
            <div class="blog-post">

              <div class="post-format">
                <span>
                  <a href="#"><i class="icon-moustache"></i></a>
                </span>
              </div>
              <div class="feature-inner">
                <a class="lightbox" href="{{ post.media.url | default: 'http://loremflickr.com/650/450' }}">
                  <img src="{{ post.media.url | default: 'http://loremflickr.com/650/450' }}" alt="">
                </a>
              </div>

              <!-- Post Content -->
              <div class="post-content">
                <div class="meta">
                  <span class="meta-part"><a href="#"><i class="icon-clock"></i> {{ post.event_date | format_date: '%B %d, %Y', 'en' }}</a></span>
                </div>
                <h3 class="post-title"><a href="{% path_to post %}">{{ post.title }}</a></h3>
                <p>{{ post.content }}</p>
              </div>
              <!-- End Post Content -->

              <!-- Share social -->
              <div class="share">
                <div class="social-link pull-left">
                  <span>Share This article</span>
                  <a class="twitter" target="_blank" data-original-title="twitter" href="#" data-toggle="tooltip" data-placement="top"><i class="fa fa-twitter"></i></a>
                  <a class="facebook" target="_blank" data-original-title="facebook" href="#" data-toggle="tooltip" data-placement="top"><i class="fa fa-facebook"></i></a>
                  <a class="google" target="_blank" data-original-title="google-plus" href="#" data-toggle="tooltip" data-placement="top"><i class="fa fa-google-plus"></i></a>
                  <a class="linkedin" target="_blank" data-original-title="linkedin" href="#" data-toggle="tooltip" data-placement="top"><i class="fa fa-linkedin"></i></a>
                </div>
                <div class="pull-right">
                  <a class="btn btn-effect" href="{% path_to post %}">Continue Reading <i class="fa fa-angle-right"></i></a>
                </div>
              </div>
              <!-- End Share social -->

            </div>
          {% endfor %}
        </div>
        <div class="col-md-3"></div>
      </div>
    </div>
{% endeditable_model %}
{% endblock %}
