---
title: Projects

# true if the page is included in the menu
listed: true

# true if the page is published
published: true

# true if the page can be used as a layout for new pages created by the editors
# is_layout: true

# position among sibling pages
# position: 1

# sets a redirection to the given url (301)
# redirect_url: "<url to a page or to a remote url>"

# other unique identifier of this page. To be used with the path_to liquid tag.
# handle: my-page-handle

# content type that this page is templatizing
# content_type: "<slug of one of the content types>"


# editable_elements:
#   'some_block/some_slug': "<text>"
#   'some_block/some_slug': "<relative path to the file under the public/samples folder>"

# Control the display of the page in the back-office.
# display_settings:
#   hidden: true          # hidden for authors?
---
{% extends parent %}

{% extends 'layouts/simple' %}

{% block content/main, short_name: true %}

{% editable_model projects %}
<div id="portfolio" class="container portpolio-page">
  <div class="row">
    {% for project in contents.projects %}
    <div id="portfolio-list" class="col-md-6 col-lg-6 col-sm-6 col-xs-12 mix design paitning">
      <div class="portfolio-item">
        <div class="portfolio-img">
          <img class="media-object" src="{{ project.media.url | default: 'http://loremflickr.com/650/450' }}" alt="{{ project.title }}">
          <div class="overlay">
            <a href="{{ project.media.url | default: 'http://loremflickr.com/650/450' }}" class="lightbox"><i class="more icon-plus"></i></a>
          </div>
        </div>
        <div class="portfolio-item-content">
          <h3 class="header">
            {{ project.title }}
          </h3>
          <p class="body">
            {{ project.skills.name }}
          </p>
          <div class="icon">
            <a href="{% path_to project %}"><i class="fa fa-image"></i></a>
          </div>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
</div>
{% endeditable_model %}

{% endblock %}
