<div class="page-banner">
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-sm-6">
                <h2>{{ page.title }}</h2>
            </div>
            <div class="col-md-6 col-sm-6">
                <div class="breadcrumbs">
                    {% for breadcrumb in page.breadcrumbs %}
                        {% if forloop.first != true %}
                            <span class="crumbs-spacer"><i class="fa fa-angle-right"></i></span>
                        {% endif %}
                        <span>{{breadcrumb.title}}</span>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</div>