<!-- Start Client Section -->
<div class="client">
    <div class="container">
        <div class="row">
            <div class="client-logo">
                <div class="col-md-3 col-sm-6 col-xs-6 dashed-line">
                    <div class="client-item">
                        <a href="#">
                            <img src="{{ 'clients/img1.png' | theme_image_url}}" alt="" />
                        </a>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6 col-xs-6 dashed-line">
                    <div class="client-item">
                        <a href="#">
                            <img src="{{ 'clients/img2.png' | theme_image_url}}" alt="" />
                        </a>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6 col-xs-6 dashed-line">
                    <div class="client-item">
                        <a href="#">
                            <img src="{{ 'clients/img3.png' | theme_image_url}}" alt="" />
                        </a>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6 col-xs-6 dashed-line">
                    <div class="client-item">
                        <a href="#">
                            <img src="{{ 'clients/img4.png' | theme_image_url}}" alt="" />
                        </a>
                    </div>
                </div>
                <div class="clear"></div>
                <div class="col-md-3 col-sm-6 col-xs-6 dashed-line">
                    <div class="client-item">
                        <a href="#">
                            <img src="{{ 'clients/img5.png' | theme_image_url}}" alt="" />
                        </a>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6 col-xs-6 dashed-line">
                    <div class="client-item">
                        <a href="#">
                            <img src="{{ 'clients/img6.png' | theme_image_url}}" alt="" />
                        </a>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6 col-xs-6 dashed-line">
                    <div class="client-item">
                        <a href="#">
                            <img src="{{ 'clients/img7.png' | theme_image_url}}" alt="" />
                        </a>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6 col-xs-6 dashed-line">
                    <div class="client-item">
                        <a href="#">
                            <img src="{{ 'clients/img8.png' | theme_image_url}}" alt="" />
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End Client Section -->