<!-- Start Counter Section -->
<div class="parallax" id="parallax-one" style="background-image:url({{ 'parallax/bg-01.jpg' | theme_image_url}});">
    <div class="parallax-text-container-1">
        <div class="parallax-text-item">
            <div class="container">
                <div class="row">
                    <div class="col-xs-12 col-sm-6 col-md-3">
                        <div class="counter-item">
                            <div class="hex-icon">
                                <div class="icon">
                                    <i class="icon-users">
                                    </i>
                                </div>
                            </div>
                            <div class="timer" id="item1" data-to="991" data-speed="5000">
                            </div>
                            <h5>
                                Happy Clients
                            </h5>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-6 col-md-3">
                        <div class="counter-item">
                            <div class="hex-icon">
                                <div class="icon">
                                    <i class="icon-rocket">
                                    </i>
                                </div>
                            </div>
                            <div class="timer" id="item2" data-to="7394" data-speed="5000">
                            </div>
                            <h5>
                                Project Launched
                            </h5>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-6 col-md-3">
                        <div class="counter-item">
                            <div class="hex-icon">
                                <div class="icon">
                                    <i class="icon-eye">
                                    </i>
                                </div>
                            </div>
                            <div class="timer" id="item3" data-to="18745" data-speed="5000">
                            </div>
                            <h5>
                                Days Of hard Work
                            </h5>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-6 col-md-3">
                        <div class="counter-item">
                            <div class="hex-icon">
                                <div class="icon">
                                    <i class="icon-trophy">
                                    </i>
                                </div>
                            </div>
                            <div class="timer" id="item4" data-to="8423" data-speed="5000">
                            </div>
                            <h5>
                                Coffee Cups A week
                            </h5>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End Counter Section -->