
<footer class="footer">
  <div class="container">
    <div class="row footer-widgets">
      <!-- Start Contact Widget -->
      <div class="col-md-3 col-sm-6 col-xs-12">
        <div class="footer-widget contact-widget">
          <h4>
            <img src="{{ 'footer-logo.png' | theme_image_url }}" class="img-responsive" alt="Footer Logo" />
          </h4>
          <p>
            At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium
          </p>
          <p>Voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident blanditiis praesentium</p>
        </div>
      </div>
      <!-- .col-md-3 -->
      <!-- End Contact Widget -->
      <!-- Start Recent Posts Widget -->
      <div class="col-md-3 col-sm-6 col-xs-12">
        <div class="footer-widget recent-posts-widget">
          <h4>
            Recent posts
            <span class="head-line">
                  </span>
          </h4>
          <ul class="recent-post">
            <li class="post">
              <a href="{{ 'portfolio/img-7.jpg' | theme_image_url }}" class="lightbox">
                <img alt="" src="{{ 'portfolio/img-7.jpg' | theme_image_url }}">
              </a>
              <p class="text">Fusce gravida tortor felis, ac dictum risus sagittis <br><span>January 3,2015</span></p>
            </li>
            <li class="post">
              <a href="{{ 'portfolio/img-8.jpg' | theme_image_url }}" class="lightbox">
                <img alt="" src="{{ 'portfolio/img-8.jpg' | theme_image_url }}">
              </a>
              <p class="text">Fusce gravida tortor felis, ac dictum risus sagittis <br><span>January 3,2015</span></p>
            </li>
          </ul>
        </div>
      </div>
      <!-- .col-md-3 -->
      <!-- End Recent posts Widget -->
      <!-- Start Tags Widget -->
      <div class="col-md-3 col-sm-6 col-xs-12">
        <div class="footer-widget tags-widget">
          <h4>
            Tags
            <span class="head-line">
                  </span>
          </h4>
          <ul class="tags">
            <li>
              <a href="#">
                awesome
              </a>
            </li>
            <li>
              <a href="#">
                photography
              </a>
            </li>
            <li>
              <a href="#">
                web design
              </a>
            </li>
            <li>
              <a href="#">
                infographic
              </a>
            </li>
            <li>
              <a href="#">
                guitar
              </a>
            </li>
            <li>
              <a href="#">
                theme
              </a>
            </li>
            <li>
              <a href="#">
                website
              </a>
            </li>
            <li>
              <a href="#">
                artist design
              </a>
            </li>
            <li>
              <a href="#">
                graygrids
              </a>
            </li>
            <li>
              <a href="#">
                music
              </a>
            </li>
          </ul>
        </div>
      </div>
      <!-- .col-md-3 -->
      <!-- End Twitter Widget -->
      <!-- Start Flickr Widget -->
      <div class="col-md-3 col-sm-6 col-xs-12">
        <div class="footer-widget flickr-widget">
          <h4>
            Flicker widget
            <span class="head-line">
                  </span>
          </h4>
          <ul class="flickr-list">
            <li>
              <a href="{{ 'portfolio/img-1.jpg' | theme_image_url }}" class="lightbox">
                <img alt="" src="{{ 'portfolio/img-1.jpg' | theme_image_url }}">
              </a>
            </li>
            <li>
              <a href="{{ 'portfolio/img-2.jpg' | theme_image_url }}" class="lightbox">
                <img alt="" src="{{ 'portfolio/img-2.jpg' | theme_image_url }}">
              </a>
            </li>
            <li>
              <a href="{{ 'portfolio/img-3.jpg' | theme_image_url }}" class="lightbox">
                <img alt="" src="{{ 'portfolio/img-3.jpg' | theme_image_url }}">
              </a>
            </li>
            <li>
              <a href="{{ 'portfolio/img-4.jpg' | theme_image_url }}" class="lightbox">
                <img alt="" src="{{ 'portfolio/img-4.jpg' | theme_image_url }}">
              </a>
            </li>
            <li>
              <a href="{{ 'portfolio/img-5.jpg' | theme_image_url }}" class="lightbox">
                <img alt="" src="{{ 'portfolio/img-5.jpg' | theme_image_url }}">
              </a>
            </li>
            <li>
              <a href="{{ 'portfolio/img-6.jpg' | theme_image_url }}" class="lightbox">
                <img alt="" src="{{ 'portfolio/img-6.jpg' | theme_image_url }}">
              </a>
            </li>
          </ul>
        </div>
      </div>
      <!-- .col-md-3 -->
      <!-- End Flickr Widget -->
    </div>
    <!-- .row -->
  </div>
  <!-- Start Copyright -->
  <div class="copyright-section">
    <div class="container">
      <div class="row">
        <div class="col-sm-6">
          <p>
            &copy; Company {{ now | localized_date: '%Y' }} - Designed & Developed by
            <a href="http://graygrids.com">
              Novahub
            </a>
          </p>
        </div>
        <!-- .col-md-6 -->
        <div class="col-sm-6">
          <ul class="footer-nav">
            <li>
              <a href="#">
                Home /
              </a>
            </li>
            <li>
              <a href="#">
                About Us /
              </a>
            </li>
            <li>
              <a href="#">
                Privacy Police /
              </a>
            </li>
            <li>
              <a href="#">
                Terms & Conditions /
              </a>
            </li>
            <li>
              <a href="#">
                Support
              </a>
            </li>
          </ul>
        </div>
        <!-- .col-md-6 -->
      </div>
      <!-- .row -->
    </div>
  </div>
  <!-- End Copyright -->
</footer>



