<!-- Start Team Member Section -->
<div class="section">
    <div class="container">
        <!-- Start Big Heading -->
        <div class="big-title text-center">    Meet Our Team
        </div>
        <!-- End Big Heading -->
        <!-- Some Text -->
        <p class="description text-center">
            Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium
            <span class="accent-color sh-tooltip" data-placement="right" title="Simple Tooltip">
            doloremque laudantium
            </span>
            , totam rem aperiam, eaque ipsa quae ab illo inventore
            <br/>
            veritatis et quasi
            <span class="accent-color sh-tooltip" data-placement="bottom" title="Simple Tooltip">
            architecto
            </span>
            beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit.
        </p>
        <div class="row">
            <!-- Start Memebr 1 -->
            <div class="col-md-3 col-sm-6">
                <div class="tema-member">
                    <div class="team-thumbnail">
                        <img src="{{ 'team/team-01.jpg' | theme_image_url }}" alt="">
                        <div class="overlay">
                            <div class="social-media">
                                <a href="#" class="facebook"><i class="fa fa-facebook"></i></a>
                                <a href="#" class="twitter"><i class="fa fa-twitter"></i></a>
                                <a href="#" class="google"><i class="fa fa-google-plus"></i></a>
                                <a href="#" class="linkedin"><i class="fa fa-linkedin"></i></a>
                            </div>
                        </div>
                    </div>
                    <div class="info">
                        <h4>David Givens</h4>
                        <p>Chief technical officer</p>
                    </div>
                </div>
            </div>
            <!-- Start Memebr 2 -->
            <div class="col-md-3 col-sm-6">
                <div class="tema-member">
                    <div class="team-thumbnail">
                        <img src="{{ 'team/team-02.jpg' | theme_image_url }}" alt="">
                        <div class="overlay">
                            <div class="social-media">
                                <a href="#" class="facebook"><i class="fa fa-facebook"></i></a>
                                <a href="#" class="twitter"><i class="fa fa-twitter"></i></a>
                                <a href="#" class="google"><i class="fa fa-google-plus"></i></a>
                                <a href="#" class="linkedin"><i class="fa fa-linkedin"></i></a>
                            </div>
                        </div>
                    </div>
                    <div class="info">
                        <h4>Darrell S.Allen</h4>
                        <p>Software Enginner</p>
                    </div>
                </div>
            </div>
            <!-- Start Memebr 3 -->
            <div class="col-md-3 col-sm-6">
                <div class="tema-member">
                    <div class="team-thumbnail">
                        <img src="{{ 'team/team-03.jpg' | theme_image_url }}" alt="">
                        <div class="overlay">
                            <div class="social-media">
                                <a href="#" class="facebook"><i class="fa fa-facebook"></i></a>
                                <a href="#" class="twitter"><i class="fa fa-twitter"></i></a>
                                <a href="#" class="google"><i class="fa fa-google-plus"></i></a>
                                <a href="#" class="linkedin"><i class="fa fa-linkedin"></i></a>
                            </div>
                        </div>
                    </div>
                    <div class="info">
                        <h4>John Doe</h4>
                        <p>Business manager</p>
                    </div>
                </div>
            </div>
            <!-- Start Memebr 4 -->
            <div class="col-md-3 col-sm-6">
                <div class="tema-member">
                    <div class="team-thumbnail">
                        <img src="{{ 'team/team-04.jpg' | theme_image_url }}" alt="">
                        <div class="overlay">
                            <div class="social-media">
                                <a href="#" class="facebook"><i class="fa fa-facebook"></i></a>
                                <a href="#" class="twitter"><i class="fa fa-twitter"></i></a>
                                <a href="#" class="google"><i class="fa fa-google-plus"></i></a>
                                <a href="#" class="linkedin"><i class="fa fa-linkedin"></i></a>
                            </div>
                        </div>
                    </div>
                    <div class="info">
                        <h4>Justyna Michallek</h4>
                        <p>Creative Director & Ceo</p>
                    </div>
                </div>
            </div>
            <!-- End Memebr 4 -->
        </div>
    </div>
</div>
<!-- Start Team Member Section -->