<div class="navbar navbar-default navbar-top">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="{% path_to home %}" title="{{ site.name }}">
        <img src="{{ 'novahub-studio-logo.png' | theme_image_url }}" alt="Novahub" />
      </a>
    </div>
    <div id="navbar" class="navbar-collapse collapse">
      <!-- Stat Search -->
      <div class="search-side">
        <a class="show-search">
          <i class="fa fa-search"></i>
        </a>
      </div>
      <!-- Form for navbar search area -->
      <form class="full-search" action="{% path_to search %}" method="GET">
        <div class="container">
          <div class="row">
            <input class="form-control" type="text" name="search" id="search" placeholder="Type to Search">
            <a class="close-search">
              <span class="fa fa-times fa-2x"></span>
            </a>
          </div>
        </div>
      </form>
      <!-- Search form ends -->
      <ul class="nav navbar-nav navbar-right">
        <li class="{% if page.handle == 'home' %}active{% endif %}">
          <a href="{% path_to home %}">Home</a>
        </li>
        {% for page_in_nav in site.pages %}
          {% if page_in_nav.depth == 1 %}
            <li class="{% if page.fullpath == page_in_nav.fullpath %}active{% endif %}">
              {% link_to page_in_nav %}
          {% endif %}
        {% endfor %}
      </ul>
    </div>
  </div>
</div>
