
<!-- Start Portfolio Section -->
{% editable_model projects %}
<section id="portfolio">
    <div class="container">
        <div class="row">
            <!-- Start Heading -->
            <div class="heading">
                <div class="big-title">This is Our Latest Work</div>
                <div class="filter-right">
                    <!-- Portfolio Filter -->
                    <ul class="controls">
                        {% editable_model skills %}
                            <li class="filter active" data-filter="all">All</li>
                            {% for skill in contents.skills %}
                                <li class="filter" data-filter=".{{ skill._slug }}">{{ skill.name }}</li>
                            {% endfor %}
                        {% endeditable_model %}
                    </ul>
                </div>
            </div>
            <!-- End Heading -->
            <!-- Portfolio Recent Projects -->
            <div id="portfolio-list">
                {% for project in contents.projects %}
                    <div class="col-md-4 col-lg-4 col-sm-6 col-xs-12 mix design {{ project.skills._slug }}">
                        <div class="portfolio-item">
                            <div class="portfolio-img">
                                <img src="{{ project.media.url | default: 'http://loremflickr.com/650/450' }}" alt="{{ project.title }}" />
                                <div class="overlay">
                                    <a href="{{ project.media.url | default: 'http://loremflickr.com/650/450' }}" class="lightbox"><i class="more icon-plus"></i></a>
                                </div>
                            </div>
                            <div class="portfolio-item-content">
                                <h3 class="header">
                                    {{ project.title }}
                                </h3>
                                <p class="body">
                                    {{ project.skills.name }}
                                </p>
                                <div class="icon">
                                    <a href="{% path_to project %}"><i class="fa fa-image"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
            <!-- End Portfolio Recent Projects -->
        </div>
    </div>
</section>
<!-- End Portfolio Section -->
{% endeditable_model %}