<!-- Start Services Section -->
<div class="section service">
    <div class="container">
        <div class="row">
            <!-- Start Service Icon 1 -->
            <div class="col-md-4 col-sm-6" data-animation="fadeIn" data-animation-delay="01">
                <div class="service-box">
                    <div class="service-icon">
                        <i class="icon-diamond icon-large icon-effect">
                        </i>
                    </div>
                    <div class="service-content">
                        <h4>
                            Smooth to get started
                        </h4>
                        <p>
                            Sed libero. Phasellus leo dolor, tempus non, tempus non, auctoret, hendreit quis, nisi. Nunc egestas, augue at pellentesque.
                        </p>
                    </div>
                </div>
            </div>
            <!-- End Service Icon 1 -->
            <!-- Start Service Icon 2 -->
            <div class="col-md-4 col-sm-6" data-animation="fadeIn" data-animation-delay="02">
                <div class="service-box">
                    <div class="service-icon">
                        <i class="icon-settings icon-large icon-effect">
                        </i>
                    </div>
                    <div class="service-content">
                        <h4>
                            Very useful custom widget
                        </h4>
                        <p>
                            Sed libero. Phasellus leo dolor, tempus non, tempus non, auctoret, hendreit quis, nisi. Nunc egestas, augue at pellentesque.
                        </p>
                    </div>
                </div>
            </div>
            <!-- End Service Icon 2 -->
            <!-- Start Service Icon 3 -->
            <div class="col-md-4 col-sm-6" data-animation="fadeIn" data-animation-delay="03">
                <div class="service-box">
                    <div class="service-icon">
                        <i class="icon-layers icon-large icon-effect">
                        </i>
                    </div>
                    <div class="service-content">
                        <h4>
                            Parallax Background
                        </h4>
                        <p>
                            Sed libero. Phasellus leo dolor, tempus non, tempus non, auctoret, hendreit quis, nisi. Nunc egestas, augue at pellentesque.
                        </p>
                    </div>
                </div>
            </div>
            <!-- End Service Icon 3 -->
            <!-- Start Service Icon 4 -->
            <div class="col-md-4 col-sm-6" data-animation="fadeIn" data-animation-delay="04">
                <div class="service-box">
                    <div class="service-icon">
                        <i class="icon-eye icon-large icon-effect">
                        </i>
                    </div>
                    <div class="service-content">
                        <h4>
                            Attention to every plxel
                        </h4>
                        <p>
                            Sed libero. Phasellus leo dolor, tempus non, tempus non, auctoret, hendreit quis, nisi. Nunc egestas, augue at pellentesque.
                        </p>
                    </div>
                </div>
            </div>
            <!-- End Service Icon 4 -->
            <!-- Start Service Icon 5 -->
            <div class="col-md-4 col-sm-6" data-animation="fadeIn" data-animation-delay="05">
                <div class="service-box">
                    <div class="service-icon">
                        <i class="icon-equalizer icon-large icon-effect">
                        </i>
                    </div>
                    <div class="service-content">
                        <h4>
                            cool & flexible layout
                        </h4>
                        <p>
                            Sed libero. Phasellus leo dolor, tempus non, tempus non, auctoret, hendreit quis, nisi. Nunc egestas, augue at pellentesque.
                        </p>
                    </div>
                </div>
            </div>
            <!-- End Service Icon 5 -->
            <!-- Start Service Icon 6 -->
            <div class="col-md-4 col-sm-6" data-animation="fadeIn" data-animation-delay="06">
                <div class="service-box">
                    <div class="service-icon">
                        <i class="icon-like icon-large icon-effect">
                        </i>
                    </div>
                    <div class="service-content">
                        <h4>
                            Super clean design
                        </h4>
                        <p>
                            Sed libero. Phasellus leo dolor, tempus non, tempus non, auctoret, hendreit quis, nisi. Nunc egestas, augue at pellentesque.
                        </p>
                    </div>
                </div>
            </div>
            <!-- End Service Icon 6 -->
            <!-- Start Service Icon 7 -->
            <div class="col-md-4 col-sm-6" data-animation="fadeIn" data-animation-delay="07">
                <div class="service-box">
                    <div class="service-icon">
                        <i class="icon-screen-desktop icon-large icon-effect">
                        </i>
                    </div>
                    <div class="service-content">
                        <h4>
                            Span to be responsive
                        </h4>
                        <p>
                            Sed libero. Phasellus leo dolor, tempus non, tempus non, auctoret, hendreit quis, nisi. Nunc egestas, augue at pellentesque.
                        </p>
                    </div>
                </div>
            </div>
            <!-- End Service Icon 7 -->
            <!-- Start Service Icon 8 -->
            <div class="col-md-4 col-sm-6" data-animation="fadeIn" data-animation-delay="08">
                <div class="service-box">
                    <div class="service-icon">
                        <i class="icon-magnifier icon-large icon-effect">
                        </i>
                    </div>
                    <div class="service-content">
                        <h4>
                            HD ready
                        </h4>
                        <p>
                            Sed libero. Phasellus leo dolor, tempus non, tempus non, auctoret, hendreit quis, nisi. Nunc egestas, augue at pellentesque.
                        </p>
                    </div>
                </div>
            </div>
            <!-- End Service Icon 8 -->
            <!-- Start Service Icon 9 -->
            <div class="col-md-4 col-sm-6" data-animation="fadeIn" data-animation-delay="08">
                <div class="service-box">
                    <div class="service-icon">
                        <i class="icon-basket icon-large icon-effect">
                        </i>
                    </div>
                    <div class="service-content">
                        <h4>
                            Premium Sliders
                        </h4>
                        <p>
                            Sed libero. Phasellus leo dolor, tempus non, tempus non, auctoret, hendreit quis, nisi. Nunc egestas, augue at pellentesque.
                        </p>
                    </div>
                </div>
            </div>
            <!-- End Service Icon 9 -->
        </div>
        <!-- .row -->
    </div>
    <!-- .container -->
</div>
<!-- End Services Section -->