<section id="slider">
    <div class="tp-banner-container">
        <div class="tp-banner">
            <ul>
                <li data-transition="fade" data-slotamount="7" data-masterspeed="2000" data-thumb="{{ 'slider/slide1.jpg' | theme_image_url }}" data-bgfit="cover" data-delay="5000" data-saveperformance="on" data-title="Ken Burns Slide">
                    <!-- MAIN IMAGE -->
                    <img src="{{ 'dummy.png' | theme_image_url }}" alt="laptopmockup_sliderdy" data-lazyload="{{ 'slider/slide1.jpg' | theme_image_url }}">
                    <!-- LAYERS -->
                    <div class="tp-caption customin ltl tp-resizeme revo-slider-caps-text start" data-x="18" data-y="120" data-customin="x:0;y:150;z:0;rotationZ:0;scaleX:1;scaleY:1;skewX:0;skewY:0;opacity:0;transformPerspective:200;transformOrigin:50% 0%;" data-speed="800" data-start="1200" data-easing="easeOutQuad" data-splitin="none" data-splitout="none" data-elementdelay="0.01" data-endelementdelay="0.1" data-endspeed="1000" data-endeasing="Power4.easeIn" style="z-index: 11;">
                        <h2 class="small-title">WELCOME TO <span>SPAN</span></h2>
                    </div>
                    <div class="tp-caption customin ltl tp-resizeme revo-slider-desc-text tleft start" data-x="18" data-y="170" data-customin="x:0;y:150;z:0;rotationZ:0;scaleX:1;scaleY:1;skewX:0;skewY:0;opacity:0;transformPerspective:200;transformOrigin:50% 0%;" data-speed="800" data-start="1600" data-easing="easeOutQuad" data-splitin="none" data-splitout="none" data-elementdelay="0.01" data-endelementdelay="0.1" data-endspeed="1000" data-endeasing="Power4.easeIn" style="z-index: 11;">
                        <h1 class="big-title">Multipurpose Bootstrap <br> HTML5  Template</h1>
                    </div>
                    <div class="tp-caption customin ltl tp-resizeme start" data-x="18" data-y="330" data-customin="x:0;y:150;z:0;rotationZ:0;scaleX:1;scaleY:1;skewX:0;skewY:0;opacity:0;transformPerspective:200;transformOrigin:50% 0%;" data-speed="800" data-start="1800" data-easing="easeOutQuad" data-splitin="none" data-splitout="none" data-elementdelay="0.01" data-endelementdelay="0.1" data-endspeed="1300" data-endeasing="Power4.easeIn" style="z-index: 11;"><a href="#" class="btn btn-large btn-effect">GET STARTED!</a></div>
                    <!-- LAYER NR. 2 -->
                    <!-- Device 1 -->
                    <div data-endelementdelay="0.1" data-elementdelay="0.1" data-easing="Power4.easeInOut" data-start="800" data-speed="1200" data-endeasing="Power4.easeIn" data-endspeed="800" data-customout="x:-200;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0.75;scaleY:0.75;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;" data-y="80" data-x="651" class="tp-caption lfr customout rs-parallaxlevel-2 start"><img alt="Image Title" src="{{ 'slider/device1.png' | theme_image_url }}" style="width: 360.94px; height: 288.563px;">
                    </div>
                </li>
                <li data-transition="zoomout" data-slotamount="7" data-masterspeed="2000" data-thumb="{{ 'slider/slide2.jpg' | theme_image_url }}" data-bgfit="cover" data-delay="5000" data-saveperformance="on" data-title="Ken Burns Slide">
                    <!-- MAIN IMAGE -->
                    <img src="{{ 'dummy.png' | theme_image_url }}" alt="laptopmockup_sliderdy" data-lazyload="{{ 'slider/slide2.jpg' | theme_image_url }}">
                    <!-- LAYERS -->
                    <div class="tp-caption customin fade tp-resizeme revo-slider-desc-text tleft start" data-x="284" data-y="178" data-customin="x:0;y:150;z:0;rotationZ:0;scaleX:1;scaleY:1;skewX:0;skewY:0;opacity:0;transformPerspective:200;transformOrigin:50% 0%;" data-speed="800" data-start="1200" data-easing="easeOutQuad" data-splitin="none" data-splitout="none" data-elementdelay="0.01" data-endelementdelay="0.1" data-endspeed="1000" data-endeasing="Power4.easeIn" style="z-index: 11;">
                        <h2 class="small-title">WELCOME to the World of <span>SPAN</span></h2>
                    </div>
                    <div class="tp-caption customin fade tp-resizeme revo-slider-desc-text tleft start" data-x="94" data-y="235" data-customin="x:0;y:150;z:0;rotationZ:0;scaleX:1;scaleY:1;skewX:0;skewY:0;opacity:0;transformPerspective:200;transformOrigin:50% 0%;" data-speed="800" data-start="1600" data-easing="easeOutQuad" data-splitin="none" data-splitout="none" data-elementdelay="0.01" data-endelementdelay="0.1" data-endspeed="1000" data-endeasing="Power4.easeIn" style="z-index: 11;">
                        <h1 class="big-title">Super Clean Solution for Your Business</h1>
                    </div>
                    <div class="tp-caption customin fade tp-resizeme start" data-x="430" data-y="340" data-customin="x:0;y:150;z:0;rotationZ:0;scaleX:1;scaleY:1;skewX:0;skewY:0;opacity:0;transformPerspective:200;transformOrigin:50% 0%;" data-speed="800" data-start="1800" data-easing="easeOutQuad" data-splitin="none" data-splitout="none" data-elementdelay="0.01" data-endelementdelay="0.1" data-endspeed="1300" data-endeasing="Power4.easeIn" style="z-index: 11;"><a href="#" class="btn btn-large btn-wite"> Purchase Now</a></div>
                </li>
                <li data-transition="zoomin" data-slotamount="7" data-masterspeed="2000" data-thumb="{{ 'slider/slide3.jpg' | theme_image_url }}" data-bgfit="cover" data-delay="5000" data-saveperformance="on" data-title="Ken Burns Slide">
                    <!-- MAIN IMAGE -->
                    <img src="{{ 'dummy.png' | theme_image_url }}" alt="laptopmockup_sliderdy" data-lazyload="{{ 'slider/slide3.jpg' | theme_image_url }}">
                    <!-- LAYERS -->
                    <div class="tp-caption customin ltl tp-resizeme revo-slider-caps-text start" data-x="18" data-y="120" data-customin="x:0;y:150;z:0;rotationZ:0;scaleX:1;scaleY:1;skewX:0;skewY:0;opacity:0;transformPerspective:200;transformOrigin:50% 0%;" data-speed="800" data-start="1200" data-easing="easeOutQuad" data-splitin="none" data-splitout="none" data-elementdelay="0.01" data-endelementdelay="0.1" data-endspeed="1000" data-endeasing="Power4.easeIn" style="z-index: 11;">
                        <h2 class="small-title">We are <span>SPAN</span> </h2>
                    </div>
                    <div class="tp-caption customin ltl tp-resizeme revo-slider-desc-text tleft start" data-x="18" data-y="170" data-customin="x:0;y:150;z:0;rotationZ:0;scaleX:1;scaleY:1;skewX:0;skewY:0;opacity:0;transformPerspective:200;transformOrigin:50% 0%;" data-speed="800" data-start="1600" data-easing="easeOutQuad" data-splitin="none" data-splitout="none" data-elementdelay="0.01" data-endelementdelay="0.1" data-endspeed="1000" data-endeasing="Power4.easeIn" style="z-index: 11;">
                        <h1 class="big-title">Your Creative<br>Business Partner</h1>
                    </div>
                    <div class="tp-caption customin ltl tp-resizeme start" data-x="18" data-y="330" data-customin="x:0;y:150;z:0;rotationZ:0;scaleX:1;scaleY:1;skewX:0;skewY:0;opacity:0;transformPerspective:200;transformOrigin:50% 0%;" data-speed="800" data-start="1800" data-easing="easeOutQuad" data-splitin="none" data-splitout="none" data-elementdelay="0.01" data-endelementdelay="0.1" data-endspeed="1300" data-endeasing="Power4.easeIn" style="z-index: 11;"><a href="#" class="btn btn-large btn-effect pn">GET STARTED!</a>
                        <a href="#" class="btn btn-large btn-wite pn"> Purchase Now</a>
                    </div>
                    <!-- LAYER NR. 2 -->
                    <div class="tp-caption customin fade rs-parallaxlevel-10 start" data-x="630" data-y="0" data-customin="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0;scaleY:0;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;" data-speed="600" data-start="1100" data-easing="Power3.easeOut" data-elementdelay="0.1" data-endelementdelay="0.1" data-endspeed="600"><img src="{{ 'dummy.png' | theme_image_url }}" alt="" data-lazyload="{{ 'slider/3dlayer_3.png' | theme_image_url }}">
                    </div>
                </li>
            </ul>
            <div class="tp-bannertimer"></div>
        </div>
    </div>
</section>