.client {
  background: $bg-client;
}

.client-logo {
  overflow: hidden;
  .dashed-line {
    position: relative;
    &:after {
      content: '';
      position: absolute;
    }
    &:before {
      content: '';
      position: absolute;
      border-left: 1px dashed $color-border-form-control;
      height: 100%;
      left: -1px;
      top: 0;
    }
    &:after {
      border-bottom: 1px dashed $color-border-form-control;
      bottom: -1px;
      height: 0;
      left: 0;
      top: auto;
      width: 100%;
    }
  }
}

.client-item {
  margin: 40px 0;
  text-align: center;
  a {
    display: block;
  }
  img {
    opacity: 0.5;
    filter: grayscale(100%);
    -webkit-filter: grayscale(100%);
    filter: gray;
    -webkit-transition: all .6s ease;
    -moz-transition: all .6s ease;
    transition: all .6s ease;
    &:hover {
      filter: grayscale(0%);
      -webkit-filter: grayscale(0%);
      filter: gray;
      opacity: 1.0;
    }
  }
}