.hex-icon {
  position: relative;
  width: 120px;
  border-radius: 4px;
  height: 70px;
  margin: 32px auto 40px;
  border-left: 2px solid $red;
  border-right: 2px solid $red;
  &:before, &:after {
    position: absolute;
    width: inherit;
    height: inherit;
    border-radius: inherit;
    background: inherit;
    content: '';
    margin-left: -1px;
    border-left: 2px solid $red;
    border-right: 2px solid $red;
  }
  &:before {
    -webkit-transform: rotate(60deg);
    -moz-transform: rotate(60deg);
    -ms-transform: rotate(60deg);
    -o-transform: rotate(60deg);
    transform: rotate(60deg);
  }
  &:after {
    -webkit-transform: rotate(-60deg);
    -moz-transform: rotate(-60deg);
    -ms-transform: rotate(-60deg);
    -o-transform: rotate(-60deg);
    transform: rotate(-60deg);
  }
}

.counter-item {
  margin: 30px 0;
  .icon {
    text-align: center;
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    z-index: 1;
    transition: color 0.25s ease 0s;
    i {
      font-size: 54px;
      line-height: 64px;
      color: $red;
    }
  }
  h5 {
    text-align: center;
    margin-bottom: 0px;
    font-weight: 400;
    color: $white;
    text-transform: uppercase;
  }
}

.timer {
  font-size: 48px;
  font-weight: 400;
  color: $white;
  text-transform: uppercase;
  text-align: center;
  line-height: 80px;
}

.parallax {
  width: 100%;
  padding: 80px 0;
  margin: 0;
  background-position: 50% 30%;
  background-attachment: fixed;
  background-repeat: no-repeat;
}

.parallax-mobile {
  background-position: 50% 0px !important;
  background-attachment: scroll !important;
}