.tema-member {
  text-align: center;
  .team-thumbnail {
    display: block;
    position: relative;
    margin-bottom: 40px;
    overflow: hidden;
    img {
      width: 100%;
    }
    .overlay {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      display: block;
      opacity: 0;
      bottom: -1px;
      height: 100%;
      background-color: rgba(255, 255, 255, 0.8);
      -webkit-transition: all 0.4s ease-in-out;
      -moz-transition: all 0.4s ease-in-out;
      -ms-transition: all 0.4s ease-in-out;
      transition: all 0.3s ease-in-out;
    }
    .social-media {
      position: absolute;
      width: 100%;
      margin: 0 auto;
      text-align: center;
      bottom: 0;
      -webkit-transform: translateY(100%);
      -moz-webkit-transform: translateY(100%);
      transform: translateY(100%);
      -webkit-transition: all 0.4s ease-in-out;
      -moz-transition: all 0.4s ease-in-out;
      -ms-transition: all 0.4s ease-in-out;
      transition: all 0.3s ease-in-out;
      a {
        display: inline-block;
        i {
          font-size: 20px;
          color: #fff;
          width: 48px;
          margin: -2px;
          line-height: 48px;
          height: 48px;
          -webkit-transition: all 0.9s ease;
          -moz-transition: all 0.9s ease;
          transition: all 0.9s ease;
          background-color: $red;
        }
        &.facebook:hover i {
          background: $facebook-hover;
        }
        &.twitter:hover i {
          background: $twitter-hover;
        }
        &.google:hover i {
          background: $google-hover;
        }
        &.linkedin:hover i {
          background: $linkedin-hover;
        }
      }
    }
  }
  .info {
    h4 {
      font-size: 14px;
      font-weight: 600;
      text-transform: uppercase;
      letter-spacing: 3px;
      margin-bottom: 10px;
    }
    h5 {
      text-transform: uppercase;
      font-size: 12px;
      font-weight: 400;
      letter-spacing: 2.5px;
    }
  }
  &:hover {
    .social-media {
      -webkit-transform: translateY(-90%);
      -moz-webkit-transform: translateY(-90%);
      transform: translateY(-90%);
    }
    .overlay {
      opacity: 1;
    }
  }
}