.post-title {
  font-size: 22px;
  font-weight: 400;
  margin-bottom: 15px;
  text-transform: uppercase;
  a {
    color: $red;
  }
}

.blog-post {
  margin-bottom: 40px;
  padding-bottom: 40px;
  border-bottom: 1px dotted $white-dark;
  .post-content {
    float: none;
    width: 100%;
    clear: both;
    padding: 25px 0;
    .meta {
      font-size: 13px;
      font-style: italic;
      margin-bottom: 17px;
      padding-bottom: 11px;
      border-bottom: 1px dotted $white-dark;
      .meta-part {
        display: inline-block;
        margin-bottom: 10px;
        margin-right: 25px;
        a {
          color: $gray-dark;
        }
      }
    }
  }
  .share {
    display: inline-block;
    width: 100%;
    position: relative;
    margin-top: 15px;
    span {
      margin-right: 10px;
      font-size: 16px;
    }
  }
}

.quote-post .feature-inner {
  padding: 30px;
  border-radius: 4px;
  border-left: 3px solid #333 !important;
  margin-bottom: 25px;
  -webkit-transition: all 0.4s ease;
  -moz-transition: all 0.4s ease;
  transition: all 0.4s ease;
  p {
    color: $white;
    font-size: 26px;
    line-height: 38px;
  }
  .name {
    color: $white;
    font-size: 16px;
    font-weight: 400;
    line-height: 38px;
    font-style: italic;
  }
  &:hover {
    background: $black-light;
  }
}

.blog-post {
  .post-format {
    position: absolute;
    left: 50%;
    z-index: 999;
    span a {
      background: $white;
      border-radius: 4px;
      display: block;
      height: 40px;
      width: 40px;
      line-height: 40px;
      margin-top: -20px;
      text-align: center;
      -webkit-transform: rotate(45deg);
      -moz-transform: rotate(45deg);
      transform: translateX(-50%) rotate(45deg);
      z-index: 1;
      border: 1px solid $red;
      color: $red;
      i {
        display: block;
        line-height: 40px;
        font-size: 18px;
        position: relative;
        -webkit-transform: rotate(-45deg);
        -moz-transform: rotate(-45deg);
        transform: rotate(-45deg);
      }
    }
  }
  .post-type i {
    font-size: 1.2em;
    color: $white;
  }
}