#portfolio {
  padding-top: 80px;
  padding-bottom: 80px;
  .heading {
    padding-bottom: 60px;
    .big-title {
      font-size: 30px;
      font-weight: 700;
      padding-left: 15px;
      float: left;
      padding: 12px 15px;
    }
    .filter-right {
      float: right;
      .controls li {
        float: left;
        border-radius: 4px;
        cursor: pointer;
        margin: 0px 5px;
        text-transform: uppercase;
        padding: 10px 15px;
        -webkit-transition: all 0.9s ease;
        -moz-transition: all 0.9s ease;
        -ms-transition: all 0.9s ease;
        transition: all 0.9s ease;
        &:hover, &.active {
          color: $white;
          background-color: $red;
        }
      }
    }
  }

  #portfolio-list {
    margin-top: 15px;
  }
  &.portpolio-page {
    padding-top: 0;
  }
}

.portfolio-item {
  padding-top: 15px;
  padding-bottom: 15px;
  .portfolio-img {
    overflow: hidden;
    display: block;
    visibility: back;
    position: relative;
    img {
      zoom: 1;
      -webkit-transition: all 0.9s ease;
      -moz-transition: all 0.9s ease;
      -ms-transition: all 0.9s ease;
      transition: all 0.9s ease;
    }
    .overlay {
      position: absolute;
      background-color: rgba(255, 255, 255, 0.8);
      text-align: center;
      top: 0;
      left: 0;
      z-index: 999;
      bottom: -1px;
      right: 0;
      opacity: 0;
      -webkit-transition: all .4s ease;
      -moz-transition: all .4s ease;
      -ms-transition: all .4s ease;
      transition: all .4s ease;
      -webkit-transform: scale(1);
      -moz-transform: scale(1);
      -ms-transform: scale(1);
      -o-transform: scale(1);
      transform: scale(1);
    }
    .more {
      position: absolute;
      top: 50%;
      left: 0;
      right: 0;
      cursor: pointer;
      visibility: visible;
      width: 48px;
      height: 48px;
      color: $white;
      font-size: 28px;
      line-height: 48px;
      margin: -20px auto;
      opacity: 0;
      z-index: 99;
      -webkit-transform: scale(0.2);
      -moz-transform: scale(0.2);
      -ms-transform: scale(0.2);
      -o-transform: scale(0.2);
      transform: scale(0.2);
      -webkit-transition: all .4s ease;
      -moz-transition: all .4s ease;
      -ms-transition: all .4s ease;
      transition: all .4s ease;
      -webkit-border-radius: 4px;
      -moz-border-radius: 4px;
      border-radius: 4px;
      background-color: $red;
    }
    &:hover {
      img {
        -webkit-transform: scale(1.4);
        -moz-transform: scale(1.4);
        -ms-transform: scale(1.4);
        transform: scale(1.4);
      }
      .overlay {
        opacity: 1;
        visibility: visible;
      }
      .more {
        opacity: 1;
        visibility: visible;
        -webkit-transform: scale(1);
        -moz-transform: scale(1);
        -ms-transform: scale(1);
        transform: scale(1);
      }
    }
  }
  .portfolio-item-content {
    padding: 20px !important;
    position: relative;
    background: $portfolio-item-content;
    -webkit-transition: all 0.9s ease;
    -moz-transition: all 0.9s ease;
    -ms-transition: all 0.9s ease;
    transition: all 0.9s ease;
    .header {
      font-size: 16px;
      font-weight: 600;
      color: $portfolio-item-content-header;
    }
    .body {
      line-height: 22px;
      font-style: italic;
    }
    .icon {
      position: absolute;
      top: 22px;
      right: 20px;
      i {
        color: $white;
        width: 40px;
        line-height: 40px;
        text-align: center;
        border-radius: 4px;
        height: 40px;
        -webkit-transition: all .3s ease;
        -moz-transition: all .3s ease;
        -ms-transition: all .3s ease;
        transition: all .3s ease;
        background-color: $red;
      }
    }
  }
  &:hover {
    .portfolio-item-content {
      background-color: $red;
      .icon i {
        color: $red;
      }
    }
  }
}

.portfolio-item:hover .portfolio-item-content {
  .header, .body {
    color: $white;
  }
  .icon i {
    background: $white;
  }
}

.recent-projects {
  i.more {
    border-radius: 50% !important;
    font-size: 14px!important;
  }
  h4.title span {
    border-bottom: 1px solid $red;
  }
}

.single-gallery {
  img {
    width: 100%;
    height: auto;
  }
}
