.service-box {
  margin-top: 15px;
  margin-bottom: 15px;
  .service-icon {
    float: left;
    margin-top: 5px;
  }
  .service-content {
    padding-left: 60px;
    h4 {
      font-size: 16px;
      margin-bottom: 10px;
      font-weight: 600;
      transition: all 0.4s ease-in-out;
      -moz-transition: all 0.4s ease-in-out;
      -webkit-transition: all 0.4s ease-in-out;
    }
  }
}