---
title: Project template

# true if the page is included in the menu
listed: false

# true if the page is published
published: true

# true if the page can be used as a layout for new pages created by the editors
# is_layout: true

# position among sibling pages
# position: 1

# sets a redirection to the given url (301)
# redirect_url: "<url to a page or to a remote url>"

# other unique identifier of this page. To be used with the path_to liquid tag.
# handle: my-page-handle

# content type that this page is templatizing
content_type: projects


# editable_elements:
#   'some_block/some_slug': "<text>"
#   'some_block/some_slug': "<relative path to the file under the public/samples folder>"

# Control the display of the page in the back-office.
# display_settings:
#   hidden: true          # hidden for authors?
---
{% extends parent %}

{% block content %}
<div id="content">
  <div class="container">
    <div class="row">
      <div class="single-gallery col-md-8">
        <img class="media-object" src="{{ project.media.url | default: 'http://loremflickr.com/650/450' }}" alt="{{ project.title }}">
      </div>
      <div class="project-content col-md-4">
        <h5 class="widget-title">Project Description</h5>
        <p>{{ project.description }}</p>
        <h5 class="widget-title">Project Details</h5>
        <ul>
          <li>
            <strong>Client:</strong>
            {{ project.client }}
          </li>
          <li>
            <strong>Status:</strong>
              {{ project.status }}
          </li>
          <li>
            <strong>Skills:</strong>
              {{ project.skills.name }}
          </li>
        </ul>
        <div class="share">
          <div class="social-link">
            <span>Share This article</span>
            <a class="twitter" target="_blank" data-original-title="twitter" href="#" data-toggle="tooltip" data-placement="top"><i class="fa fa-twitter"></i></a>
            <a class="facebook" target="_blank" data-original-title="facebook" href="#" data-toggle="tooltip" data-placement="top"><i class="fa fa-facebook"></i></a>
            <a class="google" target="_blank" data-original-title="google-plus" href="#" data-toggle="tooltip" data-placement="top"><i class="fa fa-google-plus"></i></a>
            <a class="linkedin" target="_blank" data-original-title="linkedin" href="#" data-toggle="tooltip" data-placement="top"><i class="fa fa-linkedin"></i></a>
          </div>
        </div>
      </div>
    </div>
    <div class="project">
      <div class="row">
        <div class="recent-projects">
          <h4 class="title">
            <span>Recent Projects</span>
          </h4>
          {% editable_model projects %}
          <div id="projects-carousel" class="touch-carousel">
            {% for project in contents.projects %}
            <div class="portfolio-item item">
              <div class="portfolio-border">
                <div class="portfolio-img">
                  <img alt="" src="{{ project.media.url | default: 'http://loremflickr.com/480/332' }}" />
                  <div class="overlay">
                    <a href="{{ project.media.url | default: 'http://loremflickr.com/480/332' }}" class="lightbox"><i class="more fa fa-search"></i></a>
                  </div>
                </div>
                <div class="portfolio-details">
                  <a href="#">
                    <h4>{{ project.title }}</h4>
                    <p>{{ project.skills.name }}</p>
                  </a>
                </div>
              </div>
            </div>
            {% endfor %}
          </div>
          {% endeditable_model %}
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock %}
