footer {
  background-color: $bg-footer;
  padding-top: 60px;
  color: $color-footer;
  width: 100%;

  p {
    color: $color-footer;
  }
  .copyright-section {
    padding: 15px 0;
    background: $bg-footer-bottom;
    font-size: 11px;
    color: #ccc;
    letter-spacing: 0.5px;
    p {
      font-size: 12px;
      color: #ccc;
      a {
        color: $color-menu-footer;
        &:hover {
          color: $white;
        }
      }
    }
    ul.footer-nav {
      float: right;
      li {
        display: inline-block;
        float: left;
        margin-left: 5px;
        a {
          display: inline-block;
          text-decoration: none;
          color: $color-menu-footer;
          transition: all 0.2s ease-in-out;
          -moz-transition: all 0.2s ease-in-out;
          -webkit-transition: all 0.2s ease-in-out;
          &:hover {
            color: $white;
          }
        }
        &:first-child {
          margin-left: 0;
        }
      }
    }
  }
  .footer-widget h4 {
    color: $white-dark;
    text-transform: uppercase;
    padding-bottom: 8px;
    margin-bottom: 20px;
    font-size: 14px;
    font-weight: 600;
    position: relative;
  }
}