.hidden-header {
	display: inline-block;
	vertical-align: top;
}
header {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 9999999;
    transition: all 0.4s ease-in-out;
    -moz-transition: all 0.4s ease-in-out;
    -webkit-transition: all 0.4s ease-in-out;
    -o-transition: all 0.4s ease-in-out;
    .top-bar {
	    background: $black-top;
	    border-bottom: 1px solid rgba(255, 255, 255, 0.06);
	    .contact-details {
			li {
			    display: inline-block;
			    padding: 6px 0;
			    a {
			    	font-size: 12px;
				    display: block;
				    margin-right: 15px;
				    color: $white;
				    line-height: 32px;
				    i {
						padding-right: 5px;
						vertical-align: middle;
				    }
				    &:hover {
				    	color: $red;
				    }
			    }
			}
			@media (max-width: 767px) {
				display: none;
			}
	    } 

	    ul.social-list {
		    float: right;
		    li {
				float: left;
				padding: 6px 0;
				a {
					display: inline-block;
					color: $gray-light;
					transition: all 0.2s ease-in-out;
					-moz-transition: all 0.2s ease-in-out;
					-webkit-transition: all 0.2s ease-in-out;
					-o-transition: all 0.2s ease-in-out;
					i {
						font-size: 16px;
						display: block;
						width: 34px;
						height: 33px;
						line-height: 33px;
						text-align: center;
						@media (max-width: 991px) and (min-width: 768px) {
							width: 30px;
							height: 30px;
							line-height: 30px;
						}
					}
					&:hover {
						color: $white;
					}
					&.facebook:hover {
					    background-color: $blue-dark;
					}
					&.twitter:hover {
					    background-color: $blue;
					}
					&.google:hover {
					    background-color: $red-light;
					}
					&.dribbble:hover {
					    background-color: $pink;
					}
					&.linkdin:hover {
					    background-color: $blue-light;
					}
				}
		    }
			@media (max-width: 767px) {
				float: none;
			}
		}
	}

	.navbar {
		.navbar-collapse.in {
			padding: 0;
			ul.navbar-nav {
				font-size: 0.875em;
				list-style: outside none none;
				margin: 0;
				max-height: 350px;
				overflow-y: scroll;
				padding: 0;
				width: 100%;
				color: $white;
				background-color: $white;

				li {
					display: block;
					line-height: 30px;
					padding: 0;
					margin: 2px 5px;
					a {
						color: $gray;
						padding: 13px 10px;
						text-transform: capitalize;

						&:hover {
							color: $red;
							background-color: transparent;
						}
					}

					&.active {
						a {
							color: $red;
							background-color: transparent;
						}
					}
					&:not(:first-child) {
						border-top: 1px solid rgba(0,0,0,0.04);
					}
				}
			}
		}

		position: relative;
		min-height: 50px;
	    margin-bottom: 0;
	    background: $white;
	    border: none;
	    border-bottom: 1px solid $white-dark;
	    border-radius: 0;
	    -webkit-border-radius: 0;
	    -moz-border-radius: 0;
	    -o-border-radius: 0;
		.navbar-nav {
			margin-right: 10px;
			position: relative;
			transition: all 0.4s ease-in-out;
			-moz-transition: all 0.4s ease-in-out;
			-webkit-transition: all 0.4s ease-in-out;
			-o-transition: all 0.4s ease-in-out;
			> li {
				margin-left: 6px;
				padding: 20px 0;
				> a {
					display: block;
					font-size: 14px;
					border-radius: 4px;
					padding: 7px 20px;
					text-transform: uppercase;
					font-weight: 300;
					overflow: hidden;
					transition: all 0.3s ease-in-out;
					-moz-transition: all 0.3s ease-in-out;
					-webkit-transition: all 0.3s ease-in-out;
					-o-transition: all 0.3s ease-in-out;
					font-weight: 400;
					color: $gray-dark;
					&:hover {
						color: $white;
						background-color: $red;
					}
				}
				&.active {
					a {
						color: $white;
						background-color: $red;
					}
				}
			}
		}
		.search-side {
			position: relative;
			float: right;
			top: 19px;
			right: -15px;
			transition: all 0.3s ease-in-out;
			-moz-transition: all 0.3s ease-in-out;
			-webkit-transition: all 0.3s ease-in-out;
			-o-transition: all 0.3s ease-in-out;
			.show-search {
				position: relative;
				display: block;
				cursor: pointer;
				float: right;
				i {
					font-size: 1.2em !important;
					display: block;
					color: $gray;
					width: 36px;
					height: 36px;
					border-radius: 2px;
					-webkit-border-radius: 2px;
					-moz-border-radius: 2px;
					-o-border-radius: 2px;
					line-height: 36px;
					text-align: center;
					background-color: #f2f2f2;
					transition: all 0.2s ease-in-out;
					-moz-transition: all 0.2s ease-in-out;
					-webkit-transition: all 0.2s ease-in-out;
					-o-transition: all 0.2s ease-in-out;
				}
			}
			@media (max-width: 767px) {
				display: none;
			}
		}
		.full-search {
			position: absolute;
			top: 0px;
			display: none;
			left: 0px;
			height: 77px;
			width: 100%;
			background: $black-light;
			z-index: 9999;
			margin-bottom: -1px;
			input[type="text"] {
				display: inline-block;
				font-size: 22px;
				font-weight: 400;
				outline: none;
				color: $white;
				width: 100%;
				margin-left: -45px;
				border: none;
				background: $black-light;
				padding: 0px 65px;
				line-height: 30px;
				&:focus {
					border: none;
					box-shadow: none;
				}
			}
			.close-search {
				cursor: pointer;
				color: $white;
				top: 24px;
			}
		}

		.navbar-header {
			button.navbar-toggle {
				border: 1px solid;
				border-radius: 0;
				margin: 16px 15px;
				padding: 9px 8px;
				-webkit-transition: all 0.2s linear;
				-moz-transition: all 0.2s linear;
				-o-transition: all 0.2s linear;
				transition: all 0.2s linear;
				border-color: $red;
				width: 40px;
				height: 40px;
				.icon-bar {
					background-color: $red;
				}
				&:hover {
					background-color: $red;
					.icon-bar {
						background-color: $white;
					}
				}
				&:focus {
					background-color: $white;
					.icon-bar {
						background-color: $red;
					}
				}
			}
		}
	}
}
