---
title: Job template

# true if the page is included in the menu
listed: false

# true if the page is published
published: true

# true if the page can be used as a layout for new pages created by the editors
# is_layout: true

# position among sibling pages
# position: 1

# sets a redirection to the given url (301)
# redirect_url: "<url to a page or to a remote url>"

# other unique identifier of this page. To be used with the path_to liquid tag.
# handle: my-page-handle

# content type that this page is templatizing
content_type: jobs


# editable_elements:
#   'some_block/some_slug': "<text>"
#   'some_block/some_slug': "<relative path to the file under the public/samples folder>"

# Control the display of the page in the back-office.
# display_settings:
#   hidden: true          # hidden for authors?
---
{% extends parent %}

{% block content %}
<!-- Start Content -->
<div id="content">
  <div class="container">
    <div class="row">
      <div class="col-md-9">
        <!-- Start Single Post Area -->
        <div class="blog-post single-gallery">
          <!-- Post format icon -->
          <div class="post-format">
            <span>
              <a href="#"><i class="icon-moustache"></i></a>
            </span>
          </div>
          <!-- Post feature-inner -->
          <div class="feature-inner">
            <div class="item">
              <a class="lightbox" title="This is an image title" href="assets/img/blog/blog1-large.jpg">
                <img src="{{ job.media.url | default: 'http://loremflickr.com/1170/600' }}" alt="{{ jpb.title }}">
              </a>
            </div>
          </div>
          <!-- End Post feature-inner -->
          
          <!-- Post Content -->
          <div class="post-content">
            <div class="meta">
              <span class="meta-part"><a href="#"><i class="icon-clock"></i> {{ job.due_date | localized_date: '%b %d, %Y' }}</a></span>
              <span class="meta-part"><i class="icon-folder"></i> <a href="#">Photography</a>, <a href="#">Tutorials</a></span>
              <span class="meta-part"><a href="#"><i class="icon-star"></i> {{ job.salary }}</a></span>
            </div>   
            <h3 class="post-title"><a href="#">{{ job.title }}</a></h3>
            <p>{{ job.description }}</p>
          </div>
          <!-- Post Content -->

          <!-- Share social -->
          <div class="share">
            <div class="social-link pull-left"> 
              <span>Share This article</span>   
              <a class="twitter" target="_blank" data-original-title="twitter" href="#" data-toggle="tooltip" data-placement="top"><i class="fa fa-twitter"></i></a>
              <a class="facebook" target="_blank" data-original-title="facebook" href="#" data-toggle="tooltip" data-placement="top"><i class="fa fa-facebook"></i></a>
              <a class="google" target="_blank" data-original-title="google-plus" href="#" data-toggle="tooltip" data-placement="top"><i class="fa fa-google-plus"></i></a>
              <a class="linkedin" target="_blank" data-original-title="linkedin" href="#" data-toggle="tooltip" data-placement="top"><i class="fa fa-linkedin"></i></a>
            </div>
            <div class="pull-right">
              <div class="post-tags-list">
                <a href="#">Theme</a>
                <a href="#">Mobile</a>
                <a href="#">Design</a>
                <a href="#">Wordpress</a>
                <a href="#">Jquery</a>
              </div>
            </div>
          </div>
        </div>
        <!-- End Single Post Area -->
      </div>
    </div>
  </div>
</div>

{% endblock %}
